@import "~bulma/sass/utilities/_all";

$family-primary: 'Inter', sans-serif;
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

$primary: #6D4AFB;
$primary-invert: findColorInvert($primary);

$success: #0BA360;
$info: #2955D9;
$danger: #BC5959;
$warning: #F2A81D;

$footer-background-color: #fafafa;

$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert)
);

$link: #2955D9;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$table-color: #858585;
$table-cell-border: 1px solid rgba(133, 133, 133, 0.2);
$table-head-cell-color: #333333;

$input-border-color: #E1E1E1;
$input-radius: 20px;
$label-weight: normal;
$label-color: #333333;

input.input { padding: 16px; height: 54px;}
.taginput.control .taginput-container .autocomplete input { padding: 16px; height: 54px; }
.control > .select:not(.is-multiple) {
  height: 54px;
  > select { height: 100%; }
}
.upload.control {
  width: 100%;
  > div { width: 100%; }
}
form {
  ::placeholder { color: #ADADAD; font-size: 18px; }
  > .field:not(:last-of-type) { margin-bottom: 32px; }
}
.label {
  line-height: 22px;
  letter-spacing: 0.01em;
}

@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "font";

html {
  overflow-y: auto;
  position: relative;
  min-height: 100%;
}

body {
  overflow: hidden;
  scroll-behavior: smooth;
}

em.tooltip {
  border-bottom: 1px dashed $link;
}

.b-tooltip:not([data-label=""]):hover:before, .b-tooltip:not([data-label=""]):hover:after {
  white-space: pre-line;
}

p { cursor: default; color: #858585; }

.b-tabs {
  margin-top: 42px;
  .tabs { margin-bottom: 42px; }
  .tab-content { padding: unset; }
  li a {
    color: #858585;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 42px;
  }
  li.is-active a {
    background: linear-gradient(31.01deg, #2955D9 9.06%, #6D4AFB 90.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .tabs a:hover {
    border-bottom-color: #333333;
    color: #333333;
  }
}

.back {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  &:hover { color: #2955D9; }
}

.notices.is-top {
  margin-top: -20px;
}

.control.is-loading::after {
  width: 20px;
  height: 20px;
  right: 16px;
  top: 16px;
}

  h1 {
    font-size: 32px;
    color: #333333;
  }
  h2 {
    font-size: 24px;
    color: #333333;
  }
  h3 {
    font-size: 20px;
    color: #333333;
  }

strong { color: inherit; }

.notification {
  > div:first-of-type { align-items: center; }
}

.control span.help {
  margin-left: 24px;
  line-height: 16px;
  position: absolute;
  left: 0;
  color: #BC5959;
}

.help.is-danger { margin-left: 24px; }

.control.has-icons-right .icon { top: 8px; }
.help.counter { display: none; }

.table td { padding: 20px 0.75em; }

.ProseMirror { padding: 20px; }

@media screen and (max-width: 769px) {
  .tabsInfo > .b-tabs {
    li a {
      padding: 10px 18px;
    }
  }
  .b-tabs {
    li a {
      font-size: 16px;
      line-height: 20px;
      padding: 10px 24px;
    }
  }
  .notices.is-top {
    margin-top: unset;
  }
}