<template>
	<div>
		<div class="container">
      <h1>Dashboard</h1>

      <div class="dash">
        <h3>Últimos 28 dias ↘</h3>
        <div class="dashData">
          <div class="item">
            <img src="~/assets/icons/zap-dash.svg">
            <span>
              <strong>{{ dashboard.lastMonthActive }} campanhas</strong> ativas no site
            </span>
          </div>
          <div class="item">
            <img src="~/assets/icons/calendar-dash.svg">
            <span>
              <strong>{{ dashboard.lastMonthDraws }} sorteios</strong> este mês
            </span>
          </div>
          <div class="item">
            <img src="~/assets/icons/cart-dash.svg">
            <span>
              <strong>{{ dashboard.lastMonthSoldTickets }} rifas</strong> vendidas
            </span>
          </div>
          <div class="item">
            <img src="~/assets/icons/money-dash.svg">
            <span>
              <strong>{{ dashboard.lastMonthAdminRevenue | moneyFormat }}</strong> arrecadados
            </span>
          </div>
        </div>
      </div>

      <div class="messages">
        <b-notification
          v-if="transfersWaitingApproval.length > 0"
          type="is-info"
          aria-close-label="Close notification"
          has-icon
        >
          <strong class="is-size-5">Solicitações abertas</strong>
          <p class="has-text-white">
            Existem <strong>{{ transfersWaitingApproval.length }} solicitações</strong> de saque aguardando aprovação.
          </p>
        </b-notification>
      </div>

      <div class="campaigns">
        <h3>Gerenciamento ↘</h3>
        <b-tabs v-model="activeTab">
            <b-tab-item label="Gerenciar campanhas">
              <admin-campaigns/>
            </b-tab-item>

            <b-tab-item label="Gerenciar saques">
              <admin-transfers :transfers="transfers" />
            </b-tab-item>

            <b-tab-item label="Gerenciar pedidos">
              <orders-table :isAdmin="true" />
            </b-tab-item>

            <b-tab-item label="Gerenciar usuários">
              <admin-users/>
            </b-tab-item>
        </b-tabs>
      </div>
		</div>
	</div>
</template>

<script>
import AdminCampaigns from '~/components/AdminCampaigns.vue'
import OrdersTable from '~/components/OrdersTable.vue'
import AdminTransfers from '~/components/AdminTransfers.vue'
import AdminUsers from '~/components/AdminUsers.vue'
import Dinero from 'dinero.js'

export default {
  components: {
    AdminCampaigns, OrdersTable, AdminTransfers, AdminUsers
  },
  middleware: ['auth', 'isAdmin'],
  async asyncData({ $api }) {
    let response = await $api.transfers.getAll()
    const transfers = response.data
    response = await $api.dashboard.admin()
    const dashboard = response.data
    return {
      transfers,
      dashboard
    }
  },
  data() {
    return {
      activeTab: 0,
      seeBalance: false
    }
  },
  filters: {
    moneyFormat(value) {
      return Dinero({ amount: value }).toFormat()
    }
  },
  computed: {
    transfersWaitingApproval() {
      return this.transfers.filter(t => t.status === 'in_analysis')
    }
  }
}
</script>

<style lang="scss" scoped>
.campaigns {
  margin-top: 62px;
}

.messages {
  margin-top: 62px;
  display: flex;
  justify-content: center;
  > article { width: 60%; }
}

.dash {
  margin-top: 42px;
  .dashData {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    padding: 42px;
    width: 100%;
    height: 212px;
    background: #fafafa;
    border-radius: 2px;
    .item {
      > img { margin-bottom: 20px; }
      text-align: center;
      max-width: 148px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.publish {
  display: inline-flex;
  margin-left: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  border: 2px solid #6D4AFB;
  border-radius: 20px;
  height: 42px;
  width: 222px;
  align-items: center;
  &:hover {
      background-color: #6D4AFB;
      color: #fafafa;
  }
}

h1 {
  display: inline-block;
	font-weight: bold;
	font-size: 32px;
	line-height: 39px;
	letter-spacing: 0.01em;
	color: #333333;
}

h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

@media screen and (max-width: 769px) {
  .messages {
    > article { width: unset; }
  }
  .dash {
    .dashData {
      flex-direction: column;
      height: auto;
      .item:not(:first-of-type) { margin-top: 42px; }
    }
  }
  .first {
    flex-direction: column;
  }
  .publish {
    margin-left: 20px;
    height: unset;
    width: unset;
    padding: 8px 16px;
    &:hover {
        background-color: unset;
        color: unset;
    }
  }
  .balance {
    margin-top: 42px;
    .withdraw {
      font-size: 14px;
    }
  }
  .container {
    padding: 20px;
  }
  h1 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 16px;
    line-height: 22px;
  }
}
</style>