<template>
	<section class="section">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-half">
					<nuxt-link to="/blog" class="back"><- Voltar</nuxt-link>
					<article-form :article-data="article" />
				</div>
			</div>
		</div>
	</section>
</template>

<script>
import ArticleForm from '~/components/ArticleForm.vue'

export default {
	middleware: ['auth', 'isAdmin'],
	components: {
		ArticleForm
	},
	async asyncData({ params, $api }) {
		const response = await $api.articles.get(params.id)

		return {
			article: response.data
		}
	}
}
</script>

<style lang="scss" scoped>
	.section {
		padding-top: unset;
	}
	.back {
		display: block;
		margin-bottom: 32px;
	}
</style>