<template>
	<section class="section">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-half">
					<nuxt-link to="/blog" class="back"><- Voltar</nuxt-link>
					<article-form />
				</div>
			</div>
		</div>
	</section>
</template>

<script>
import ArticleForm from '~/components/ArticleForm.vue'

export default {
	components: {
		ArticleForm
	},
	middleware: ['auth', 'isAdmin']
}
</script>

<style lang="scss" scoped>
	.section {
		padding-top: unset;
	}
	.back {
		display: block;
		margin-bottom: 32px;
	}
</style>