<template>
	<div class="container">
		<nuxt-link to="/admin" class="back"><- Voltar</nuxt-link>
		<div class="columns is-multiline first">
			<div class="column is-full">
				<nuxt-link :to="{ name: 'campaigns-id', params: { id: campaign.id } }">
					<h1>{{ campaign.title }}</h1>
				</nuxt-link>
			</div>
			<div class="column is-4">
	    	<div class="detail">
	    		<img src="~/assets/icons/calendar.svg">
	    		<div>
	    			Sorteio dia <strong>{{ correctDate(campaign.draw_date) }}</strong>
	    		</div>
	    	</div>
	    	<div class="detail">
	    		<img src="~/assets/icons/cart.svg">
	    		<div>
	    			<strong>{{ campaign.sales_quantity.total }}</strong> bilhetes vendidos
	    		</div>
	    	</div>
	    	<div class="detail">
	    		<img src="~/assets/icons/money.svg">
	    		<div>
	    			Faturado <strong>{{ campaign.admin_revenue_cents | moneyFormat }}</strong>
	    		</div>
	    	</div>
	    </div>
	    <div class="column is-4">
	    	<div class="detail">
	    		<img src="~/assets/icons/tag.svg">
	    		<div>
	    			<strong>{{ campaign.prizes.length }}</strong> prêmios elegíveis:
	    		</div>
	    	</div>
	    	<div class="content">
	  			<ol type="1">
	  				<li v-for="prize in campaign.prizes" :key="prize.title">
	  					{{ prize.title }}
	  				</li>
	  			</ol>
	    	</div>
			</div>
			<div class="column is-4">
				<div class="card">
					<div class="card-content">
						<div class="columns is-multiline">
							<div class="column is-full">
								<h2 class="has-text-primary">Informações sobre o sorteio</h2>
							</div>
							<div
								v-if="campaign.status === 'waiting_receipt' || campaign.status === 'finished'"
								class="column is-full has-background-light"
							>
								<p>Número(s) sorteado(s):</p>
					    	<div class="numbersSelected">
					    		<div v-for="number in drawnNumbers">{{ number }}</div>
					    	</div>
							</div>
							<div class="column is-full has-background-light" v-else>
								Não realizado.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-full">
				<hr />
				<h2>Pedidos ↘</h2>
				<orders-table :campaign="campaign" :isAdmin="true" />
			</div>
		</div>
	</div>
</template>

<script>
	import Dinero from 'dinero.js'
	import OrdersTable from '~/components/OrdersTable.vue'
	export default {
		components: {
			OrdersTable
		},
		middleware: ['auth', 'isAdmin'],
		async asyncData({ params, $api }) {
			const id = params.id
			let response = await $api.campaigns.getAdmin(id)
			const campaign = response.data

			return {
				campaign
			}
		},
		methods: {
			correctDate(value) {
				return this.$moment(value).format('DD/MM/YYYY')
			}
		},
		filters: {
			moneyFormat(value) {
				return Dinero({ amount: parseInt(value) }).toFormat()
			}
		},
		computed: {
			drawnNumbers() {
				return this.campaign.prizes.map(p => p.ticket.number)
			}
		}
	}
</script>

<style lang="scss" scoped>
	h1 {
		font-weight: bold;
		font-size: 24px;
		line-height: 39px;
		letter-spacing: 0.01em;
		color: #333333;
	}
	h2 {
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.01em;
		color: #333333;
		margin-top: 42px;
		margin-bottom: 42px;
	}
	.columns.first {
		margin-top: 42px;
	}
	.card {
		h2 {
			margin-top: unset;
			margin-bottom: unset;
		}
	}
	.detail {
		display: flex;
		align-items: center;
		img { margin-right: 12px; }
		margin-top: 20px;
	}
	.content {
		margin-left: 20px;
		color: #858585;
	}
	.numbersSelected {
		margin-top: 10px;
		font-size: 14px;
		line-height: 17px;
		color: #858585;
		> div {
			display: inline-block;
			background: #FAFAFA;
			border: 1px solid rgba(133, 133, 133, 0.2);
			border-radius: 4px;
			padding: 4px;
			&:not(:first-of-type) { margin-left: 10px; }
		}
	}
	@media screen and (max-width: 769px) {
		.container {
			padding: 20px;
		}
	}
</style>
