<template>
  <b-table
      :data="users"
      :mobile-cards="true"
      sort-icon="arrow-up"
      sort-icon-size="is-small"
      :paginated="true"
      :backend-pagination="true"
      :pagination-simple="true"
      :total="total"
      :per-page="items"
      @page-change="onPageChange"
	>
		<template slot-scope="props">
			
			<b-table-column field="first_name" label="Nome" cell-class="name">
				{{ props.row.first_name }}
			</b-table-column>

			<b-table-column field="last_name" label="Sobrenome" centered>
				{{ props.row.last_name }}
			</b-table-column>

			<b-table-column field="email" label="Email" centered>
				{{ props.row.email }}
			</b-table-column>

			<b-table-column field="document" label="Documento" centered>
				{{ props.row.document_number }}
			</b-table-column>

			<b-table-column field="phone" label="Telefone" centered>
				({{ props.row.phone_area_code }}) {{ props.row.phone_number }}
			</b-table-column>

			<b-table-column field="birthdate" label="Data de nascimento" centered>
				{{ correctDate(props.row.birthdate) }}
			</b-table-column>

			<b-table-column field="created" label="Criado em" centered>
				{{ correctDate(props.row.created_at) }}
			</b-table-column>

			<b-table-column field="confirmed" label="Confirmado em" centered>
				{{ correctDate(props.row.confirmed_at) }}
			</b-table-column>

<!--       <b-table-column field="actions" label="Ações" cell-class="actions" numeric>
      	<div>
	        <a>
	        	<img src="~/assets/icons/edit.svg">
	        </a>
	      </div>
      </b-table-column> -->

		</template>
	</b-table>
</template>

<script>
	export default {
		data() {
			return {
				total: 0,
				page: 1,
				items: 5,
				users: []
			}
		},
		async fetch() {
			let response
			response = await this.$api.users.count()
			this.total = response.data.count
			response = await this.$api.users.getAllAdmin()
			this.users = response.data
		},
		methods: {
			correctDate(value) {
				return this.$moment(value).format('DD/MM/YYYY')
			},
			onPageChange(page) {
				this.page = page
				this.$fetch()
			}
		}
	}
</script>

<style lang="scss" scoped>
.actions {
	a:hover { filter: contrast(2); }
}
@media screen and (max-width: 769px) {
	.name {
		max-width: 100%;
		background-color: #6D4AFB;
		color: #fafafa;
	}
}
</style>