<template>
  <b-table
      :data="transfers"
      :mobile-cards="true"
      sort-icon="arrow-up"
      sort-icon-size="is-small"
      :paginated="true"
      :per-page="5"
      :pagination-simple="true"
	>
		<template slot-scope="props">

			<b-table-column field="first_name" label="Nome" cell-class="name">
				{{ props.row.user.first_name }}
			</b-table-column>

			<b-table-column field="last_name" label="Sobrenome" centered>
				{{ props.row.user.last_name }}
			</b-table-column>

			<b-table-column field="total" label="Valor" centered>
				{{ props.row.total_cents | moneyFormat }}
			</b-table-column>

			<b-table-column field="fee" label="Taxa" centered>
				{{ props.row.fee_cents | moneyFormat }}
			</b-table-column>

			<b-table-column field="created_at" label="Solicitado em" centered>
				{{ correctDate(props.row.created_at) }}
			</b-table-column>

			<b-table-column field="status" label="Status" centered>
				<span :class="props.row.status | statusStyle">{{ props.row.status | statusLocale }}</span>
			</b-table-column>

      <b-table-column field="actions" label="Ações" cell-class="actions" numeric>
      	<div>
	        <a @click="bankDetails(props.row.bank_account)">
	          <img src="~/assets/icons/eye-grad.svg">
	        </a>
	        <div v-if="props.row.status === 'in_analysis'">
		        <a @click="confirmApprove(props.row)">
		        	<img src="~/assets/icons/check.svg">
		        </a>
		        <a @click="confirmDeny(props.row)">
		        	<img src="~/assets/icons/block.svg">
		        </a>
	        </div>
	      </div>
      </b-table-column>

		</template>
	</b-table>
</template>

<script>
	import Dinero from 'dinero.js'

	export default {
		props: {
			transfers: Array
		},
		methods: {
			correctDate(value) {
				return this.$moment(value).format('DD/MM/YYYY')
			},
			bankDetails(info) {
				this.$buefy.dialog.alert({
					title: 'Dados bancários',
					message: `<b>Banco:</b> ${info.bank_code} <br /> <b>Agência:</b> ${info.agency_number} ${info.agency_check_number} <br /> <b>Conta:</b> ${info.account_number} ${info.account_check_number} <hr /><b>Titular:</b> ${info.legal_name} <br /><b>${info.document_type}:</b> ${info.document_number}`,
					confirmText: 'Ok'
				})
			},
			confirmApprove(transfer) {
				this.$buefy.dialog.confirm({
					title: 'Autorizar saque',
					message: `Confirma a transferência no valor de <span class="has-text-primary">${Dinero({ amount: parseInt(transfer.total_cents) }).toFormat()}</span>, solicitado pelo organizador ${transfer.user.name}?`,
					cancelText: 'Cancelar',
					confirmText: 'Confirmar',
					focusOn: 'cancel',
					onConfirm: () => this.approveTransfer(transfer.id)
				})
			},
			confirmDeny(transfer) {
				this.$buefy.dialog.confirm({
					title: 'Negar saque',
					message: `Remover a solicitação de transferência no valor de <span class="has-text-primary">${Dinero({ amount: parseInt(transfer.total_cents) }).toFormat()}</span> realizado pelo organizador ${transfer.user.name}?`,
					cancelText: 'Cancelar',
					confirmText: 'Confirmar',
					focusOn: 'cancel',
					onConfirm: () => this.denyTransfer(transfer.id)
				})
			},
			async approveTransfer(id) {
				try {
					const response = await this.$api.transfers.approve(id)
					const index = this.transfers.findIndex(t => t.id === id)
					this.transfers.splice(index, 1, response.data)
					this.$buefy.toast.open('Saque aprovado.')
				} catch(err) {
					console.error(err.toString())
				}
			},
			async denyTransfer(id) {
				try {
					const response = await this.$api.transfers.deny(id)
					const index = this.transfers.findIndex(t => t.id === id)
					this.transfers.splice(index, 1, response.data)
					this.$buefy.toast.open('Saque negado.')
				} catch(err) {
					console.error(err.toString())
				}
			}
		},
		filters: {
			moneyFormat(value) {
				return Dinero({ amount: parseInt(value) }).toFormat()
			},
			statusLocale(value) {
				const status = {
					in_analysis: 'Solicitado',
					requested: 'Processando',
					completed: 'Concluído',
					failed: 'Falhou',
					not_approved: 'Não aprovada'
				}
				return status[value]
			},
			statusStyle(value) {
				const style = {
					in_analysis: 'is-warning',
					requested: 'is-primary',
					completed: 'is-success',
					failed: 'is-danger',
					not_approved: 'is-danger'
				}
				return `tag ${style[value]}`
			}
		}
	}
</script>

<style lang="scss" scoped>
.actions {
	> div {
		display: flex;
		align-items: center;
		justify-content: space-between;
		float: right;
		> a:first-child { margin-right: 12px; }
	}
	a:hover { filter: contrast(2); }
	a:not(:last-of-type) { margin-right: 8px; }
}

@media screen and (max-width: 769px) {
	.actions {
		float: unset;
		a:not(:last-of-type) { margin-right: 16px; }
	}
	.name {
		max-width: 100%;
		background-color: #6D4AFB;
		color: #fafafa;
	}
}
	
</style>