<template>
  <b-table
      :data="campaigns"
      :mobile-cards="true"
      sort-icon="arrow-up"
      sort-icon-size="is-small"
      :paginated="true"
      :backend-pagination="true"
      :pagination-simple="true"
      :total="total"
      :per-page="items"
      @page-change="onPageChange"
	>
		<template slot-scope="props">
		  <b-table-column field="title" label="Título" cell-class="raffleTitle">
		  	<div>
		    	<span :alt="props.row.title">
		        {{ props.row.title }}
		      </span>
		      <nuxt-link :to="{ name: 'campaigns-id', params: { id: props.row.id } }">
		      	<img src="~/assets/icons/external-link.svg">
		      </nuxt-link>
		  	</div>
		  </b-table-column>
      <b-table-column field="sales" label="Vendas" centered>
        {{ props.row.sales_quantity.total }}/{{ props.row.raffle.quantity }}
      </b-table-column>
      <b-table-column
      	field="goal"
      	label="Meta" :cell-class="salesPercentage(props.row.sales_quantity.total, props.row.raffle.quantity) >= (props.row.goal * 100) ? 'has-text-success' : ''"
      	centered
      >
        {{ salesPercentage(props.row.sales_quantity.total, props.row.raffle.quantity) }}% de {{ props.row.goal * 100 }}%
      </b-table-column>
      <b-table-column field="price" label="Valor" centered>
        {{ props.row.raffle.price_cents | moneyFormat }}
      </b-table-column>

      <b-table-column field="revenue" label="Arrecadado" cell-class="revenue" centered>
      	<div>
        	<span>
            {{ props.row.revenue_cents | moneyFormat }}
          </span>
	        <b-tooltip
	        :label="'Vendas por cartão: ' + props.row.sales_quantity.cc + '\n Vendas por boleto: ' + props.row.sales_quantity.boleto"
	        multilined
	        v-if="props.row.sales_quantity.total > 0"
	        position="is-left"
	        size="is-small">
	        	<img src="~/assets/icons/info-table.svg">
	        </b-tooltip>
      	</div>
      </b-table-column>

     <b-table-column field="income" label="Faturado" cell-class="income" centered>
      	<div>
        	<span>
            {{ props.row.admin_revenue_cents | moneyFormat }}
          </span>
      	</div>
      </b-table-column>

      <b-table-column field="date" label="Data do Sorteio" centered>
        {{ correctDate(props.row.draw_date) }}
      </b-table-column>

      <b-table-column field="date" label="Status" centered>
      	<span class="tag is-success" v-if="props.row.status === 'active'">Ativo</span>
      	<span class="tag is-danger" v-if="props.row.status === 'cancelled'">Cancelado</span>
      	<span class="tag is-warning" v-if="props.row.status === 'waiting_receipt'">Sorteado</span>
      	<span class="tag is-primary" v-if="props.row.status === 'finished'">Finalizado</span>
      </b-table-column>

      <b-table-column field="actions" label="Ações" cell-class="actions" numeric>
      	<div>
	      	<a
            v-if="props.row.status === 'active'"
            @click="confirm(props.row)"
          >
	          <img src="~/assets/icons/trash.svg">
	        </a>
	        <nuxt-link v-if="props.row.status === 'active'" :to="`/admin/campaigns/edit/${props.row.id}`">
	          <img src="~/assets/icons/edit.svg">
	        </nuxt-link>
	        <nuxt-link :to="`/admin/campaigns/${props.row.id}`">
	          <img src="~/assets/icons/eye-grad.svg">
	        </nuxt-link>
	      </div>
      </b-table-column>

		</template>
	</b-table>
</template>

<script>
	import Dinero from 'dinero.js'
	export default {
		data() {
			return {
				campaigns: [],
				total: 0,
				page: 1,
				items: 5
			}
		},
		async fetch() {
			let response
			response = await this.$api.campaigns.count()
			this.total = response.data.count
			response = await this.$api.campaigns.getAllAdmin({ page: this.page, items: this.items })
			this.campaigns = response.data
		},
		methods: {
			correctDate(value) {
				return this.$moment(value).format('DD/MM/YYYY')
			},
			salesPercentage(sold, total) {
				return sold / total * 100
			},
	    confirm(campaign) {
	      let warning
        const title = campaign.title
        const sales = campaign.sales_quantity.total
	      if(sales > 0) {
	        warning = '<span class="is-size-5 has-text-dark has-text-weight-medium">Certeza que deseja apagar a campanha?</span> <br /><img src="' + require('~/assets/icons/tag.svg') + '" width="14px"> ' + title + '<br /><br /><p class="has-text-danger"><b>Atenção!</b><br />' + sales + ' vendas serão reembolsadas.</p>'
	      } else {
	        warning = '<span class="is-size-5 has-text-dark has-text-weight-medium">Certeza que deseja apagar a campanha?</span> <br /><img src="' + require('~/assets/icons/tag.svg') + '" width="14px"> ' + title + ''
	      }
	      this.$buefy.dialog.confirm({
	          message: warning,
	          cancelText: 'Cancelar',
	          confirmText: 'Sim',
	          focusOn: 'cancel',
	          onConfirm: () => this.delete(campaign)
	      })
	    },
      async delete(campaign) {
        try {
          await this.$api.campaigns.deleteAdmin(campaign.id)
          let index = this.campaigns.indexOf(campaign)
          this.campaigns.splice(index, 1)
          this.$buefy.toast.open('Campanha deletada')
        } catch(err) {
          console.error(err.toString())
        }
      },
	    async onPageChange(page) {
	    	this.page = page
				this.$fetch()
	    }
		},
		filters: {
			moneyFormat(value) {
				return Dinero({ amount: value }).toFormat()
			}
		}
	}

</script>

<style lang="scss" scoped>
.raffleTitle {
	max-width: 200px;
	> div { display: flex; }
	span {
		display: inline-block;
		text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px;
	}
	a {
		&:hover { filter: contrast(10); }
		display: inline-block;
		min-width: 18px;
		img { vertical-align: super; }
	}
}
.actions {
	> div { display: flex; align-items: center; justify-content: space-between; }
	a {
		&:first-of-type:hover { filter: brightness(0.5); }
		&:hover { filter: contrast(2); }
	}
}

@media screen and (max-width: 769px) {
	.raffleTitle {
		max-width: 100%;
		background-color: #6D4AFB;
		color: #fafafa;
		span { max-width: 160px; font-weight: 500; }
		a {
			img { filter: invert(1); vertical-align: text-top; }
		}
	}
	.revenue {
		span:first-of-type { margin-right: 4px; }
	}
	.actions {
		a:not(:last-of-type) { margin-right: 16px; }
	}
}
</style>
