<template>
	<div>
		<ValidationObserver v-slot="{ handleSubmit }">
			<form @submit.prevent="handleSubmit(submit)">
				<div class="columns is-multiline">
					<div class="column is-full">
						<div class="field">
						  <label class="label">Título</label>
						  <ValidationProvider name="title" rules="required" v-slot="{ errors, classes }">
							  <div class="control">
							    <input
							    	v-model="article.title"
							    	type="text"
							    	:class="classes"
							    	class="input"
							    	placeholder="Insira um título para seu artigo"
							    >
						    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>

					<div class="column is-full">
						<div class="field file">
						  <ValidationProvider
						  	name="imagem"
						  	:rules="`${article.photo === null ? 'required' : ''}`"
						  	v-slot="{ errors, classes }">
								<b-upload v-model="file" @input="onFileInput">
									<a class="button is-primary">
										<b-icon icon="upload"></b-icon>
										<span>Imagem de destaque</span>
									</a>
									<span class="file-name" v-if="file">
										{{ file.name }}
									</span>
								</b-upload>
								<span class="help is-danger">{{ errors[0] }}</span>
							</ValidationProvider>
						</div>
					</div>

					<div class="column is-full">
						<div class="field">
						  <div class="control">
						  	<text-editor :content-data="article.text" v-on:update="getContent" />
						  </div>
						</div>
					</div>
					
				</div>
				<div class="lastField">
					<button
						type="submit"
						class="save button"
						:class="{'is-loading': loading}"
					>
						Salvar
					</button>
				</div>
			</form>
		</ValidationObserver>
	</div>
</template>

<script>
import { objectToFormData } from 'object-to-formdata'
import { cloneDeep } from 'lodash'
import TextEditor from '~/components/TextEditor.vue'

export default {
	components: {
		TextEditor
	},
	props: {
		articleData: {
			type: Object,
			default() {
				return {
					title: '',
					text: ''
				}
			}
		}
	},
	data() {
		return {
			article: cloneDeep(this.articleData),
			file: null,
			loading: false,
			submitted: false
		}
	},
	methods: {
		async submit() {
			if(this.loading || this.submitted) return
			const message = this.editing ? 'Artigo atualizado!' : 'Artigo publicado!'

			try {
				this.loading = true
				let response
				if(this.editing) {
					const id = this.article.id
					response = await this.$api.articles.update(id, objectToFormData({ article: this.article }))
				} else {
					response = await this.$api.articles.create(objectToFormData({ article: this.article }))
				}
				this.submitted = true
	  		this.$router.push({
					name: 'blog-id', params: { id: response.data.id }
  			},
  			() => {
					this.$buefy.toast.open({
						duration: 5000,
						message,
						type: 'is-success'
					})
	  		})
			} catch(err) {
				console.error(err.toString())
			} finally {
				this.loading = false
			}
		},
		onFileInput(file) {
			const image = file
			this.article.photo_attributes = { image }
		},
		getContent(content) {
			this.article.text = content
		}
	},
	computed: {
		editing() {
			return !!this.article.id
		}
	}
}
</script>

<style lang="scss" scoped>
.lastField {
	margin-top: 52px;
  .save {
  	height: 52px;
  	font-size: 18px;
  	line-height: 22px;
    width: 100%;
    max-width: 178px;
    border: none;
    background: linear-gradient(58.3deg, #2955D9 9.06%, #6D4AFB 90.08%);
    border-radius: 20px;
    color: #FAFAFA;
    transition: all .1s ease-in-out;
    &:hover { color: #FAFAFA; transform: scale(1.05); }
  }
}
</style>