<template>
	<div class="card">
	  <div class="card-image">
			<div v-if="userIsAdmin" class="actions">
		  	<nuxt-link :to="{ name: 'admin-articles-edit-id', params: { id: article.id } }">
		  		<img src="~/assets/icons/edit.svg">
		  	</nuxt-link>
		  	<a @click="confirm()">
		  		<img src="~/assets/icons/trash.svg">
		  	</a>
	  	</div>
	  	<nuxt-link :to="{ name: 'blog-id', params: { id: article.id } }">
		    <figure class="image is-16by9">
		      <img :src="article.photo">
		    </figure>
			</nuxt-link>
	  </div>
	  <nuxt-link :to="{ name: 'blog-id', params: { id: article.id } }">
		  <div class="card-content">
		    <div class="content">
		    	<h2>{{ article.title }}</h2>
		      <br>
		      <time>{{ dateToFormat(article.created_at) }}</time>
		    </div>
		  </div>
		</nuxt-link>
	</div>
</template>

<script>
	export default {
		props: {
			article: {
				type: Object,
				required: true
			}
		},
		methods: {
			dateToFormat(value) {
				return this.$moment(value).format('DD [de] MMMM')
			},
			confirm() {
				this.$buefy.dialog.confirm({
					title: 'Apagando artigo',
					message: `<strong>Tem certeza que deseja apagar o artigo?</strong><br /> ${this.article.title}`,
					cancelText: 'Cancelar',
					confirmText: 'Apagar',
					type: 'is-danger',
					onConfirm: this.delete
				})
			},
			async delete() {
				try {
					await this.$api.articles.delete(this.article.id)
					this.$emit('delete', this.article)
					this.$buefy.toast.open('Artigo deletado')
				} catch(err) {
					console.error(err.toString())
				}
			}
		},
		computed: {
			userIsAdmin() {
				return this.$auth.loggedIn && this.$auth.user.admin
			}
		}
	}
</script>

<style lang="scss" scoped>
	.actions {
		position: absolute;
		top: 12px;
		right: 12px;
		z-index: 1;
		display: flex;
		> a {
			&:first-child { margin-right: 12px; }
			width: 32px;
			height: 32px;
			background-color: #fafafa;
			display: grid;
			place-items: center;
			border-radius: 100%;
		}
	}
	.card {
		box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
		border: none;
		&:hover {
			box-shadow: 0 7px 16px 0 rgba(0,0,0,.2), 0 1px 3px 0 rgba(0,0,0,.1);
		}
		.card-image {
			position: relative;
		}
		h2 {
			font-size: 24px;
			color: #333333;
		}
		time {
			font-size: 14px;
			color: #858585;
		}
	}
</style>