<template>
	<div class="avatarUpload">
		<div class="userAvatar">
			<img :src="avatar" class="userAvatar">
			<a class="overlay" id="pick-avatar">
				<span>Alterar avatar</span>
			</a>
		</div>
		<div class="uploadMessage" v-html="message"></div>
  	<avatar-cropper
      @uploading="handleUploading"
      @uploaded="handleUploaded"
      @completed="handleCompleted"
      @error="handlerError"
      :labels="labels"
      :mimes="mimes"
      :output-mime="outputmime"
      trigger="#pick-avatar"
      upload-url=""
    />
	</div>
</template>

<script>

export default {
  components: { 'avatar-cropper': () => import('vue-avatar-cropper') },
  data() {
  	return {
  		message: '<b>Upload permitido: </b> JPG ou PNG, máx. de 1MB.',
  		avatar: this.$auth.user.avatar || require('~/assets/imgs/avatar.jpg'),
  		labels: {
  			submit: "Enviar",
  			cancel: "Cancelar"
  		},
  		mimes: 'image/png, image/jpeg',
  		outputmime: 'image/jpeg'
  	}
  },
  methods: {
    handleUploading(form, xhr) {
      this.message = "Aguarde..."
    },
    handleUploaded(response) {
      if (response.status == "success") {
        this.user.avatar = response.url
        // Maybe you need call vuex action to
        // update user avatar, for example:
        // this.$dispatch('updateUser', {avatar: response.url})
        this.message = "<span class='has-text-primary'>Avatar atualizado.</span>"
      }
    },
    handleCompleted(response, form, xhr) {
      this.message = "<span class='has-text-primary'>Upload completo.</span>"
    },
    handlerError(message, type, xhr) {
      this.message = "<span class='has-text-danger'>Oops... Algo deu errado!</span>";
    }
  }
}
</script>

<style lang="scss" scoped>
.avatarUpload {
	display: flex;
	flex-direction: column;
	.uploadMessage {
		// align-self: flex-end;
		margin-top: 20px;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0.01em;
		color: #ADADAD;
	}
	.userAvatar {
		width: 128px;
		height: 128px;
		border-radius: 50%;
		position: relative;
		.overlay {
			background-color: rgba(250, 250, 250, 0.8);
			background-clip: padding-box;
			border: solid 2px #6D4AFB;
			backdrop-filter: blur(2px);
			width: 100%;
			height: 100%;
		  position: absolute;
		  // margin-top: -2px;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  border-radius: 50%;
		  opacity: 0;
		  transition: all .2s ease-in-out;
		  &:hover { opacity: 1; }
		}
	}
}
</style>