<template>
  <b-table
      :data="campaigns"
      :mobile-cards="true"
      sort-icon="arrow-up"
      sort-icon-size="is-small"
      :paginated="true"
      :per-page="5"
      :pagination-simple="true"
	>
    <template slot-scope="props">
      <b-table-column field="title" label="Título" cell-class="raffleTitle">
      	<div>
        	<span :alt="props.row.title">
            {{ props.row.title }}
          </span>
          <nuxt-link :to="{ name: 'campaigns-id', params: { id: props.row.id } }">
          	<img src="~/assets/icons/external-link.svg">
          </nuxt-link>
      	</div>
      </b-table-column>

      <b-table-column field="sales" label="Vendas" centered>
        {{ props.row.tickets_quantity }}/{{ props.row.raffle.quantity }}
      </b-table-column>

      <b-table-column
      	field="goal"
      	label="Meta" :cell-class="salesPercentage(props.row.sales_quantity.total, props.row.raffle.quantity) >= (props.row.goal * 100) ? 'has-text-success' : ''"
      	centered
      >
        {{ salesPercentage(props.row.sales_quantity.total, props.row.raffle.quantity) }}% de {{ props.row.goal * 100 }}%
      </b-table-column>

      <b-table-column field="price" label="Valor" centered>
        {{ props.row.raffle.price_cents | moneyFormat }}
      </b-table-column>

      <b-table-column field="revenue" label="Arrecadado" cell-class="revenue" centered>
      	<div>
        	<span>
            {{ props.row.revenue_cents | moneyFormat }}
          </span>
	        <b-tooltip
	        :label="'Vendas por cartão: ' + props.row.sales_quantity.cc + '\n Vendas por boleto: ' + props.row.sales_quantity.boleto"
	        multilined
	        v-if="props.row.sales_quantity.total > 0"
	        position="is-left"
	        size="is-small">
	        	<img src="~/assets/icons/info-table.svg">
	        </b-tooltip>
      	</div>
      </b-table-column>


      <b-table-column field="date" label="Data do Sorteio" centered>
        {{ correctDate(props.row.draw_date) }}
      </b-table-column>

      <b-table-column field="actions" :label="finished? 'Status' : 'Ações'" cell-class="actions" numeric>
      	<div v-if="!finished && !waitingReceipt">
        	<a @click="confirm(props.row)">
            <img src="~/assets/icons/trash.svg">
          </a>
          <span v-if="props.row.updatable">
            <nuxt-link :to="{ name: 'promoter-campaigns-edit-id', params: { id: props.row.id } }">
              <img src="~/assets/icons/edit.svg">
            </nuxt-link>
          </span>
          <span v-else>
            <nuxt-link to="/suporte?campaign_not_updatable=true">
              <img src="~/assets/icons/edit.svg">
            </nuxt-link>
          </span>
      	</div>
      	<div v-if="waitingReceipt">
      		<nuxt-link :to="`/promoter/campaigns/${props.row.id}`">
      			<img src="~/assets/icons/eye-grad.svg">
      		</nuxt-link>
      	</div>
      	<div v-if="finished">
      		<span v-if="props.row.status === 'finished'" class="tag is-primary">
            Finalizado
          </span>
      		<span v-else class="tag is-danger">
            Cancelado
          </span>
      	</div>
      </b-table-column>
		</template>

    <template slot="empty">
        <section class="section">
            <div class="content has-text-grey has-text-centered">
                <p>
                	<img src="~/assets/icons/sad.svg">
                </p>
                <p>Não tem nada por aqui.</p>
            </div>
        </section>
    </template>

  </b-table>
</template>

<script>
import Dinero from 'dinero.js'
export default {
	props: {
		campaigns: Array,
		waitingReceipt: {
			type: Boolean,
			default: false
		},
		finished: {
			type: Boolean,
			default: false
		}
	},
	filters: {
		moneyFormat(value) {
			return Dinero({ amount: value }).toFormat()
		}
	},
	methods: {
		correctDate(value) {
			return this.$moment(value).format('DD/MM/YYYY')
		},
		salesPercentage(sold, total) {
      let percentage = sold / total * 100
			return percentage.toFixed(2)
		},
    confirm(campaign) {
      let warning
      const title = campaign.title
      const sales = campaign.sales_quantity.total
      if(sales > 0) {
        warning = '<span class="is-size-5 has-text-dark has-text-weight-medium">Certeza que deseja apagar a campanha?</span> <br /><img src="' + require('~/assets/icons/tag.svg') + '" width="14px"> ' + title + '<br /><br /><p class="has-text-danger"><b>Atenção!</b> Todas as vendas serão reembolsadas.</p>'
      } else {
        warning = '<span class="is-size-5 has-text-dark has-text-weight-medium">Certeza que deseja apagar a campanha?</span> <br /><img src="' + require('~/assets/icons/tag.svg') + '" width="14px"> ' + title + ''
      }
      this.$buefy.dialog.confirm({
          message: warning,
          cancelText: 'Cancelar',
          confirmText: 'Sim',
          focusOn: 'cancel',
          onConfirm: () => this.delete(campaign)
      })
    },
    async delete(campaign) {
      try {
        await this.$api.campaigns.delete(campaign.id)
        this.$emit('delete', campaign)
        this.$buefy.toast.open('Campanha deletada')
      } catch(err) {
        console.error(err.toString())
      }
    }
	}
}
</script>

<style lang="scss" scoped>
.raffleTitle {
	max-width: 200px;
	> div { display: flex; }
	span {
		display: inline-block;
		text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px;
	}
	a {
		&:hover { filter: contrast(10); }
		display: inline-block;
		min-width: 18px;
		img { vertical-align: super; }
	}
}
.actions {
	a {
		&:first-of-type:hover { filter: brightness(0.5); }
		&:last-of-type:hover { filter: contrast(2); }
	}
}

@media screen and (max-width: 769px) {
	.button.ship {
		&:hover { transform: unset; }
	}
	.raffleTitle {
		max-width: 100%;
		background-color: #6D4AFB;
		color: #fafafa;
		span { max-width: 160px; font-weight: 500; }
		a {
			img { filter: invert(1); vertical-align: text-top; }
		}
	}
	.revenue {
		span:first-of-type { margin-right: 4px; }
	}
	.actions {
		a:last-of-type { margin-left: 4px; }
	}
}
</style>
