<template>
	<div>
		<ValidationObserver v-slot="{ handleSubmit }">
			<form @submit.prevent="handleSubmit(submit)">
				<div class="columns is-multiline">
					<div class="column is-full">
						<div class="field">
						  <label class="label">Título</label>
						  <ValidationProvider name="title" rules="required" v-slot="{ errors, classes }">
							  <div class="control">
							    <input
							    	v-model="campaign.title"
							    	type="text"
							    	:class="classes"
							    	class="input"
							    	placeholder="Ex: Rifa solidária"
							    >
						    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>

					<div class="column is-full">
					  <ValidationProvider name="category" rules="required" v-slot="{ errors, classes }">
						  <b-field label="Categoria" :message="errors[0]" :type="errors[0] ? 'is-danger' : ''">
			            <b-select
										v-model="campaign.category"
			            	placeholder="Selecione uma categoria"
			            	expanded

			            >
			                <option value="vehicles">Veículos</option>
			                <option value="electronics">Eletrônicos</option>
			                <option value="accessories">Acessórios</option>
			                <option value="cash">Prêmios em dinheiro</option>
			                <option value="travels">Viagens</option>
			                <option value="others">Outros</option>
			            </b-select>
				        </b-field>
						</ValidationProvider>
					</div>

					<div class="column is-full">
						<div class="addPrize">
							<div>
								<label class="label">Prêmio</label>
								<a @click="addPrize()" v-show="!prizeLimit"></a>
				        <b-tooltip label="Limite atingido" position="is-right" v-show="prizeLimit">
				        	<a class="has-text-grey"></a>
				        </b-tooltip>
							</div>
							<small class="help">Até 5 prêmios</small>
						</div>
						<div class="field" v-for="(prize, index) in campaign.prizes" :key="index">
						  <ValidationProvider name="prize" rules="required" v-slot="{ errors, classes }">
							  <div class="control">
							    <input
							    	type="text"
							    	:class="classes"
							    	class="input"
							    	v-model="prize.title"
							    	:placeholder="`${index + 1}º Prêmio - Ex: iPhone 11 Pro`"
							    >
							    <a
							    	class="removeInput has-text-danger"
							    	@click="removePrize(index)"
							    	v-show="index > 0"
							    >
							  		
							  	</a>
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>

					<div class="column is-full">
						<div class="field">
						  <label class="label">Descrição do objetivo</label>
						  <ValidationProvider
						  name="description"
						  rules="required|maxlength:1500"
					  	:customMessages="{
					  		maxlength: 'Sua descrição deve ter no máximo 1500 caracteres'
					  	}"
						  v-slot="{ errors, classes }">
							  <div class="control">
							    <textarea
							    	:class="classes"
							    	class="textarea"
							    	v-model="campaign.purpose"
							    	type="textarea"
							    	:placeholder="'Ex: Organizamos esta rifa para ajudar determinada causa.\nEntrega para todo Brasil.'"
							    >
							    </textarea>
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>

					<div class="column is-full">
						<label class="label">Imagens</label>
					  <ValidationProvider
					  	ref="upload"
					  	name="images"
					  	:rules="`${campaign.photos.length === 0 ? 'required|size:2000|maxlength:20' : 'size:2000|maxlength:20'}`"
					  	:customMessages="{
					  		size: 'Cada imagem deve ter até 2MB'
					  	}"
					  	v-slot="{ errors, classes }"
					  >
			        <b-field>
		            <b-upload
		            	@input="onFileInput"
		            	:class="classes"
		            	accept="image/png, image/jpeg"
		            	multiple
		            	drag-drop
		            	expanded
		            >
		              <section class="section">
		                <div class="content has-text-centered">
		                  <p>
		                    <b-icon icon="upload" size="is-large" :type="errors[0] ? 'is-danger' : ''"></b-icon>
		                  </p>
		                  <p :class="errors[0] ? 'has-text-danger' : ''">Arraste até 20 imagens aqui ou clique para selecionar</p>
		                </div>
		              </section>
							    <span class="help">{{ errors[0] }}</span>
		            </b-upload>
			        </b-field>
			      </ValidationProvider>

		        <div class="tags">
	            <span v-for="(file, index) in campaign.photos" :key="index" class="tag is-primary">
	              {{file.name}}
	              <button
	              	class="delete is-small"
	              	type="button"
	              	@click="deleteFile(index)"
	              >
	              </button>
	            </span>
		        </div>
					</div>

					<div class="column is-full">
			        <b-field label="Vídeos">
		            <b-taginput
										v-model="campaign.videos"
		                placeholder="Adicione até 2 links de vídeos (Youtube ou Vimeo) separados por vírgula"
		                maxtags="2"
								>
		            </b-taginput>
			        </b-field>
					</div>

					<div class="column is-4">
					  <ValidationProvider name="goal" rules="required" v-slot="{ errors, classes }">
			        <b-field label="Meta" :message="errors[0]" :type="errors[0] ? 'is-danger' : ''">
		            <b-select
		            	v-model="campaign.goal"
		            	placeholder="Selecione"
		            	expanded
		            >
		          		<option
		          			v-for="n in [5, 6, 7, 8, 9, 10]"
		          			:value="(n / 10).toFixed(1)"
		          		>
		          			{{ n * 10 }}%
		          		</option>
		            </b-select>
			        </b-field>
			      </ValidationProvider>
					</div>

					<div class="column is-4">
						<div class="field">
						  <label class="label">Valor</label>
						  <ValidationProvider name="value" rules="required" v-slot="{ errors, classes }">
							  <div class="control">
							    <currency-input
							    	v-model="campaign.raffle.price_cents"
							    	:min="1000"
							    	:max="100000"
							    	:class="classes"
							    	class="input"
							    	placeholder="R$ 10,00"
							    ></currency-input>
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>

					<div class="column is-4">
					  <ValidationProvider name="quantity" rules="required" v-slot="{ errors, classes }">
			        <b-field label="Qtd. de bilhetes" :message="errors[0]" :type="errors[0] ? 'is-danger' : ''">
		            <b-select v-model="campaign.raffle.quantity" placeholder="Selecione" expanded>
		          		<option
		          			v-for="n in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50]"
		          			:value="n * 100"
		          		>
		          			{{ n * 100 }}
		            	</option>
		            </b-select>
			        </b-field>
			      </ValidationProvider>
					</div>

					<div class="column is-full">
					  <ValidationProvider name="date" rules="required" v-slot="{ errors, classes }">
			        <b-field label="Data do sorteio" :message="errors[0]" :type="errors[0] ? 'is-danger' : ''">
		            <date-picker
		            	v-model="campaign.draw_date"
		          		placeholder="Permitido todas quartas e sábados"
		              :unselectable-days-of-week="[0, 1, 2, 4, 5]"
		              :min-date="new Date()"
		            >
		            </date-picker>
			        </b-field>
			      </ValidationProvider>
					</div>
				</div>

				<div class="lastField">
					<button
						type="submit"
						class="save button"
						:class="{'is-loading': loading}"
					>
						Salvar
					</button>
				</div>
			</form>
		</ValidationObserver>
	</div>
</template>

<script>
import DatePicker from '~/components/form/DatePicker.vue'
import CurrencyInput from '~/components/form/CurrencyInput.vue'
import Campaign from '~/model/campaign'

export default {
	components: {
		DatePicker,
		CurrencyInput
	},
	props: {
		campaignData: {
			type: Object
		},
		isAdmin: {
			type: Boolean,
			default: false
		}
	},
	data() {
		const campaign = new Campaign()
		if(this.campaignData) {
			campaign.set(this.campaignData)
		} else {
			campaign.buildRaffle({
				quantity: null,
				price_cents: null
			})
			campaign.buildPrize({
				title: ''
			})
		}
		campaign.isAdmin = this.isAdmin
		return {
			campaign,
			loading: false,
			submitted: false
		}
	},
  methods: {
  	async submit() {
  		if(this.loading || this.submitted) return
  		const message = this.campaign.id === null ? 'Campanha publicada!' : 'Campanha atualizada!'
			this.loading = true
			try {
	  		await this.campaign.save()
	  		this.submitted = true
	  		this.$router.push({
	  			name: 'campaigns-id', params: { id: this.campaign.id }
  			},
  			() => {
					this.$buefy.toast.open({
						duration: 5000,
						message,
						type: 'is-success'
					})
	  		})
			} catch(err) {
  			console.error(err.toString())
  			const response = err.response
  			if(response && response.status === 403) {
		  		this.$router.push('/user', () => {
		  			this.$buefy.toast.open('Você precisa completar o seu cadastro.')
		  		})
  			}
			} finally {
				this.loading = false
			}
  	},
    onFileInput(fileList) {
    	this.$refs.upload.validate(fileList)
    	for(let file of fileList) {
    		let photo = this.campaign.photos.find(e => e.image === file)
    		if(!photo) {
		    	this.campaign.buildPhoto({ image: file, name: file.name })
    		}
    	}
    },
    deleteFile(index) {
    	const photo = this.campaign.photos[index]
    	if(photo.image) {
    		const input = this.$refs.upload
    		const fileList = input.value
	    	fileList.splice(index, 1)
	    	input.validate(fileList)
    	}
  		this.campaign.removePhoto(index)
    },
    addPrize() {
    	if(!this.prizeLimit) {
    		this.campaign.buildPrize({ title: '' })
    	}
    },
    removePrize(index) {
    	this.campaign.removePrize(index)
    }
  },
  computed: {
  	prizeLimit() {
  		const limit = 5
  		return this.campaign.prizes.length === limit
  	}
  }
}
</script>

<style lang="scss" scoped>
div.field {
	margin-bottom: 32px;
}
textarea {
	&::-webkit-scrollbar {
		width: 0;
	}
}
.addPrize {
	div:first-child { display: flex; }
	a {
		margin-left: 8px;
		font-weight: 600;
		user-select: none;
	}
	display: flex;
	justify-content: space-between;
}
.removeInput {
	position: absolute;
  top: 25%;
  right: 20px;
}
.lastField {
	margin-top: 32px;
  .save {
  	height: 52px;
  	font-size: 18px;
  	line-height: 22px;
    width: 100%;
    max-width: 178px;
    border: none;
    background: linear-gradient(58.3deg, #2955D9 9.06%, #6D4AFB 90.08%);
    border-radius: 20px;
    color: #FAFAFA;
    transition: all .1s ease-in-out;
    &:hover { color: #FAFAFA; transform: scale(1.05); }
  }
}
</style>
