<template>
	<div>
		<ValidationObserver ref="form" v-slot="{ handleSubmit }">
			<form @submit.prevent="handleSubmit(submit)">
				<div class="columns is-multiline">
					<div class="column is-full">
						<div class="field">
						  <label class="label">Senha atual</label>
						  <ValidationProvider name="current_password" rules="required" v-slot="{ errors, classes }">
							  <div class="control">
							    <input
							    	v-model="form.current_password"
							    	type="password"
							    	class="input"
							    	:class="classes"
							    >
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>

					<div class="column is-half">
						<div class="field">
						  <label class="label">Nova senha</label>
						  <ValidationProvider name="senha" rules="min:8|required" v-slot="{ errors, classes }" vid="password">
							  <div class="control">
							    <input
							    v-model="form.password"
							    type="password"
							    class="input"
							    :class="classes"
							  >
							  <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>

					<div class="column is-half">
						<div class="field">
						  <label class="label">Confirme a nova senha</label>
						  <ValidationProvider name="Confirmação de senha" rules="confirmed:password|required" v-slot="{ errors, classes }">
							  <div class="control">
							    <input
							    	v-model="form.password_confirmation"
							    	type="password"
							    	class="input"
							    	:class="classes"
							    >	
							    <span class="help">{{ errors[0] }}</span>
							  </div>
						  </ValidationProvider>
						</div>
					</div>

				</div>

				<div class="lastField">
					<button
						type="submit"
						class="save button"
						:class="{'is-loading': loading}"
					>
						Salvar
					</button>
				</div>

			</form>
		</ValidationObserver>
	</div>
</template>

<script>
function defaultData() {
	return {
		form: {
			password: '',
			current_password: '',
			password_confirmation: ''
		},
		loading: ''
	}
}
export default {
	data: defaultData,
	methods: {
		async submit() {
			try {
				this.loading = true
				const { password, current_password } = this.form
				await this.$api.registrations.update({ password, current_password })
				this.$buefy.toast.open({
					duration: 5000,
					message: 'Senha alterada!',
					type: 'is-success' })
				this.resetData()
				this.$refs.form.reset()
			} catch(err) {
				console.error(err.toString())
				const response = err.response
				if(response && response.status === 422) {
					this.$refs.form.setErrors(response.data.errors)
				}
			} finally {
				this.loading = false
			}
		},
		resetData() {
			Object.assign(this.$data, defaultData())
		}
	}
}
</script>

<style lang="scss" scoped>
.lastField {
	margin-top: 52px;
  .save {
  	height: 52px;
  	font-size: 18px;
  	line-height: 22px;
    width: 100%;
    max-width: 178px;
    border: none;
    background: linear-gradient(58.3deg, #2955D9 9.06%, #6D4AFB 90.08%);
    border-radius: 20px;
    color: #FAFAFA;
    transition: all .1s ease-in-out;
    &:hover { color: #FAFAFA; transform: scale(1.05); }
  }
}
</style>