<template>
	<div>
		<ValidationObserver v-slot="{ handleSubmit }">
			<form @submit.prevent="handleSubmit(submit)">
				<div class="columns is-multiline">
					<div class="column is-half">
						<div class="field">
						  <label class="label">Nome completo</label>
						  <ValidationProvider name="name" rules="required" v-slot="{ errors, classes }">
							  <div class="control">
							    <input
							    	type="text"
							    	v-model="user.name"
							    	:class="classes"
							    	class="input"
							    	placeholder="Seu nome"
							    >
						    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>
					<div class="column is-half">
						<div class="field">
						  <label class="label">Email</label>
						  <ValidationProvider name="email" rules="email|required" v-slot="{ errors, classes }">
							  <div class="control">
							    <input
							    	v-model="user.email"
							    	type="text"
							    	:class="classes"
							    	class="input"
							    	:disabled="$auth.loggedIn"
							    	placeholder="email@exemplo.com"
							    >
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>
					<div class="column is-half">
						<div class="field">
						  <label class="label">CPF</label>
						  <ValidationProvider name="cpf" rules="cpf|required" v-slot="{ errors, classes }">
							  <div class="control">
							    <input
										v-model="user.document_number"
										type="text"
										:class="classes"
										class="input"
										v-mask="'###.###.###-##'"
										placeholder="xxx.xxx.xxx-xx"
							    >
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>
					<div class="column is-half">
						<div class="field">
						  <label class="label">Whatsapp</label>
						  <ValidationProvider name="phone" rules="phone|required" v-slot="{ errors, classes }">
							  <div class="control">
							    <input
										v-model="user.phone"
										type="text"
										:class="classes"
										class="input"
										v-mask="'(##) # ####-####'"
										placeholder="(xx) x xxxx-xxxx"
							    >
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>
					<div class="column is-half">
						<div class="field">
							<label class="label">Data de nascimento</label>
						  <ValidationProvider name="date" rules="required|date:DD/MM/YYYY" v-slot="{ errors, classes }">
							  <div class="control">
							    <input
										v-model="user.birthdate"
										v-mask="'##/##/####'"
										type="text"
										:class="classes"
										class="input"
										placeholder="dd/mm/aaaa"
							    >
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>
					<div class="column is-half">
						<div class="field">	  
							<label class="label">CEP</label>
						  <ValidationProvider name="cep" rules="cep|required" v-slot="{ errors, classes }">
							  <div class="control" :class="{'is-loading': zipcodeLoading}">
							    <input
							    	v-model="address.zipcode"
							    	@input="checkZipcode"
							    	v-mask="'#####-###'"
							    	type="text"
							    	:class="classes"
							    	class="input"
							    	placeholder="xxxxx-xxx"
							    >	
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>
					<div class="column is-full">
						<div class="field">
						  <label class="label">Endereço</label>
						  <ValidationProvider name="street" rules="required" v-slot="{ errors, classes }">
							  <div class="control">
							    <input
							    	v-model="address.street"
							    	type="text"
							    	:class="classes"
							    	class="input"
							    	placeholder="Rua/av..."
							    >
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>
					<div class="column is-3">
						<div class="field">
						  <label class="label">Número</label>
						  <ValidationProvider name="number" rules="required" v-slot="{ errors, classes }">
							  <div class="control">
							    <input
							    	v-model="address.number"
							    	type="text"
							    	:class="classes"
							    	class="input"
							    	placeholder="Nº"
							    >
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>
					<div class="column is-3">
						<div class="field">
						  <label class="label">Complemento</label>
							  <div class="control">
							    <input
							    	v-model="address.complement"
							    	type="text"
							    	class="input"
							    	placeholder="Apto/casa"
							    >
							  </div>
						</div>
					</div>
					<div class="column is-6">
					  <div class="control">
					  	<label class="label">Bairro</label>
						  <ValidationProvider name="district" rules="required" v-slot="{ errors, classes }">
						    <input
						    	v-model="address.district"
						    	type="text"
						    	:class="classes"
						    	class="input"
						    	placeholder="Seu bairro"
						    >	
						    <span class="help">{{ errors[0] }}</span>
						  </ValidationProvider>
					  </div>
					</div>
					<div class="column is-half">
						<div class="field">
							<label class="label">Cidade</label>
						  <ValidationProvider name="city" rules="required" v-slot="{ errors, classes }">
							  <div class="control">
							    <input
							    	v-model="address.city"
							    	type="text"
							    	:class="classes"
							    	class="input"
							    	placeholder="Sua cidade"
							    >	
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>
					<div class="column is-half">
						<div class="field">
							<label class="label">Estado</label>
						  <ValidationProvider name="state" rules="required" v-slot="{ errors, classes }">
							  <div class="control">
							    <input
							    	v-model="address.state"
							    	type="text"
							    	:class="classes"
							    	class="input"
							    	placeholder="UF"
							    >	
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>
				</div>

        <b-tabs v-model="activeTab">
        	<b-tab-item
        		v-for="instrument in availableInstuments"
        		:key="instrument"
        		:label="instrument | label"
        	>
		        <div v-if="instrument == 'credit_card'">
		        	<div class="columns is-multiline">
								<div class="column is-half">
									<div class="field">
									  <label class="label">Nome do titular</label>
									  <ValidationProvider name="CCname" :rules="activeTab==0 ? 'required' : ''" v-slot="{ errors, classes }">
										  <div class="control">
										    <input
										    	v-model="credit_card.fullname"
										    	type="text"
										    	:class="classes"
										    	class="input"
										    	placeholder="Como impresso no cartão"
										    >
									    <span class="help">{{ errors[0] }}</span>
										  </div>
										</ValidationProvider>
									</div>
								</div>
								<div class="column is-half">
									<div class="field">
									  <label class="label">CPF</label>
									  <ValidationProvider name="cpf" rules="cpf|required" v-slot="{ errors, classes }">
										  <div class="control">
										    <input
										    	v-model="credit_card.document_number"
										    	type="text"
										    	:class="classes"
										    	class="input"
										    	v-mask="'###.###.###-##'"
										    	placeholder="xxx.xxx.xxx-xx"
										    >
										    <span class="help">{{ errors[0] }}</span>
										  </div>
										</ValidationProvider>
									</div>
								</div>
								<div class="column is-half">
									<div class="field">	  
										<label class="label">Data de nascimento</label>
									  <ValidationProvider name="date" rules="required|date:DD/MM/YYYY" v-slot="{ errors, classes }">
										  <div class="control">
										    <input
										    	v-model="credit_card.birthdate"
										    	v-mask="'##/##/####'"
										    	type="text"
										    	:class="classes"
										    	class="input"
										    	placeholder="dd/mm/aaaa"
										    >	
										    <span class="help">{{ errors[0] }}</span>
										  </div>
										</ValidationProvider>
									</div>
								</div>
								<div class="column is-half">
									<div class="field">
									  <label class="label">Whatsapp</label>
									  <ValidationProvider name="phone" rules="phone|required" v-slot="{ errors, classes }">
										  <div class="control">
										    <input
										    	v-model="credit_card.phone"
										    	type="text"
										    	:class="classes"
										    	class="input"
										    	v-mask="'(##) # ####-####'"
										    	placeholder="(xx) x xxxx-xxxx"
										    >
										    <span class="help">{{ errors[0] }}</span>
										  </div>
										</ValidationProvider>
									</div>
								</div>
								<div class="column is-half">
									<div class="field">
									  <label class="label">Número do cartão</label>
									  <ValidationProvider name="CCnumber" :rules="activeTab==0 ? 'required' : ''" v-slot="{ errors, classes }">
										  <div class="control">
										    <input
										    	v-model="credit_card.number"
										    	type="text"
										    	:class="classes"
										    	class="input"
										    	placeholder="xxxx xxxx xxxx xxxx"
										    	v-mask="'#### #### #### ####'"
										    >
									    <span class="help">{{ errors[0] }}</span>
										  </div>
										</ValidationProvider>
									</div>
								</div>
								<div class="column is-half">
									<div class="field">
									  <label class="label">Validade</label>
									  <ValidationProvider name="CCexp" :rules="activeTab==0 ? 'required' : ''" v-slot="{ errors, classes }">
										  <div class="control">
										    <input
										    	v-model="credit_card.expiration"
										    	type="text"
										    	:class="classes"
										    	class="input"
										    	placeholder="mm/aa"
										    	v-mask="'##/##'"
										    >
									    <span class="help">{{ errors[0] }}</span>
										  </div>
										</ValidationProvider>
									</div>
								</div>
								<div class="column is-half">
									<div class="field">
									  <label class="label">CVV</label>
									  <ValidationProvider name="CCcvv" :rules="activeTab==0 ? 'min:3|required' : ''" v-slot="{ errors, classes }">
										  <div class="control">
										    <input
										    	v-model="credit_card.cvc"
										    	type="text"
										    	:class="classes"
										    	class="input"
										    	placeholder="xxx"
										    	v-mask="'####'"
										    >
									    <span class="help">{{ errors[0] }}</span>
										  </div>
										</ValidationProvider>
									</div>
								</div>
		        	</div>
		        </div>
		        <div v-else>
		        	<b-message class="bolMessage">
			        	<div class="boleto">
			        		<img src="~/assets/icons/barcode.svg">
			        		<div>
			        			<strong>Pagamento via boleto selecionado</strong>
			        			<br />
			        			Prosiga para a próxima página para gerar o boleto de pagamento.
			        		</div>
			        	</div>
		        	</b-message>
		        </div>
	        </b-tab-item>
        </b-tabs>

				<p class="help is-danger">{{ errorMessage }}</p>
				<div class="lastField">
					<button
						type="submit"
						class="save button"
						:class="{'is-loading': loading}"
					>
						Pagar
					</button>
				</div>
			</form>
		</ValidationObserver>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import cep from 'cep-promise'
import JSEncrypt from 'node-jsencrypt'
import { MoipCreditCard } from 'moip-sdk-js'

const pubKey = `-----BEGIN PUBLIC KEY-----
								MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAlcI0JWuuMx3PBjKg8nsZ
								m53+k2+li00J5h3b2yrxn4aaMlVHD9GvMFHjRKA6ERNM1Jz920veGhCH2pnlWrtP
								zwYUKCqY567ALLS260+ej0qOhO63dEqxOTc49ZYY5DBH2lq1l3TsirqKH3DxutFp
								pEEgPEHnFVaBOkzYETFwp1wiJGXbHHFOEIR0r1ZStd/V72SzSWelaJ4/J8udQbxy
								QDCY6sbgPfzFxKqV6efmNQ9paUFOlu9i3yS2uJdV8MWizlo7HoV0uiBaMmOz2wVi
								gavBw2tRyOn0Kj/+l/tJemTLjoU2cYeD6DMjEKwNQQwOCZF54HzfG3v0At9HxoiT
								rwIDAQAB
								-----END PUBLIC KEY-----`

const hash = async ({ number, cvc, expiration }) => {
	const [expirationMonth, expirationYear] = expiration.split('/')
	return await MoipCreditCard
		.setEncrypter(JSEncrypt, 'node')
		.setPubKey(pubKey)
		.setCreditCard({
			number,
			cvc,
			expirationMonth,
			expirationYear
		})
		.hash()
}

export default {
	props: {
		campaign: {
			type: Object,
			required: true
		},
		tickets: {
			type: Array,
			required: true
		}
	},
	data() {
		return {
			user: {
				name: '',
				email: '',
				document_number: '',
				birthdate: '',
				phone: ''
			},
			address: {
				street: '',
				number: '',
				complement: '',
				district: '',
				zipcode: '',
				city: '',
				state: ''
			},
			credit_card: {
				hash: '',
				fullname: '',
				document_number: '',
				birthdate: '',
				phone: '',
				number: '',
				expiration: '',
				cvc: ''
			},
      activeTab: 0,
			loading: false,
			submitted: false,
			zipcodeLoading: false,
			errorMessage: ''
		}
	},
	created() {
		const currentUser = this.$auth.user
		if(currentUser) {
			this.user.name = currentUser.name
			this.user.email = currentUser.email
			this.user.document_number = currentUser.document_number
			this.user.birthdate = this.$moment(currentUser.birthdate).format('DDMMYYYY')
			this.user.phone = currentUser.phone
			if(currentUser.address_attributes) {
				this.$set(this.address, 'id', currentUser.address_attributes.id)
				this.address.street = currentUser.address_attributes.street
				this.address.number = currentUser.address_attributes.number
				this.address.complement = currentUser.address_attributes.complement
				this.address.district = currentUser.address_attributes.district
				this.address.zipcode = currentUser.address_attributes.zipcode
				this.address.city = currentUser.address_attributes.city
				this.address.state = currentUser.address_attributes.state
			}
		}
	},
	filters: {
		label(value) {
			const toLabel = {
				credit_card: 'Cartão de crédito',
				boleto: 'Boleto'
			}
			return toLabel[value]
		}
	},
	methods: {
		async submit() {
			if(this.loading || this.submitted) return
			try {
				this.loading = true
				this.credit_card.hash = await hash(this.credit_card)
				const response = await this.$api.orders.create({ order: this.order })
				this.submitted = true
				const order = response.data
				this.$store.dispatch('checkout/setOrder', order)
				if(order.user.signed_up) {
					this.$auth.setUser(order.user)
				}
				this.$router.push('/checkout/thanks')
			} catch(err) {
				console.error(err.toString())
				const { title, message, code } = err.response.data.error
				if(err.response.status === 422 && code === '10') {
					this.$buefy.dialog.confirm({
						canCancel: false,
						title,
						message,
						confirmText: 'Voltar',
						type: 'is-danger',
						onConfirm: () => this.$router.push({ name: 'campaigns-id', params: { id: this.campaign.id } })
					})
				} else {
					this.errorMessage = message
				}
			} finally {
				this.loading = false
			}
		},
		checkZipcode() {
			const address = this.address
			if(address.zipcode.length == 9) {
				this.zipcodeLoading = true
				const cepNumber = address.zipcode.replace(/-|\s/g, '')
				cep(cepNumber).then((result) => {
					address.street = result.street
					address.district = result.neighborhood
					address.city = result.city
					address.state = result.state
					this.zipcodeLoading = false
				})
			}
		}
	},
	computed: {
		order() {
			const data = {
				campaign_id: this.campaign.id,
				tickets: this.tickets,
				user: {
					...this.user,
					address_attributes: this.address
				},
				payment: {
					instrument: this.instrument
				}
			}
			if(this.instrument === 'credit_card') {
				data.payment.credit_card = this.credit_card
			}
			return data
		},
		instrument() {
			let index = this.activeTab
			return this.availableInstuments[index]
		},
		availableInstuments() {
			const instruments = ['credit_card']

			const oneWeekFromNow = this.$moment().add(7, 'days')
			const drawDate = this.$moment(this.campaign.draw_date)
			if(drawDate.isAfter(oneWeekFromNow)) {
				instruments.push('boleto')
			}

			return instruments
		}
	}
}
</script>

<style lang="scss" scoped>
.boleto {
	display: flex;
	align-items: flex-start;
	img { width: 20px; margin-right: 8px; margin-top: 2px; }
}
.bolMessage { margin-bottom: 60px; }
@media screen and (min-width: 800px) {
	.bolMessage { margin-bottom: 120px; }
}
.field {
	margin-bottom: 20px;
}
.lastField {
	margin-top: 32px;
  .save {
  	height: 52px;
  	font-size: 18px;
  	line-height: 22px;
    width: 100%;
    max-width: 178px;
    border: none;
    background: linear-gradient(58.3deg, #2955D9 9.06%, #6D4AFB 90.08%);
    border-radius: 20px;
    color: #FAFAFA;
    transition: all .1s ease-in-out;
    &:hover { color: #FAFAFA; transform: scale(1.05); }
  }
}
</style>