<template>
	<div>
		<ValidationObserver ref="form" v-slot="{ handleSubmit }">
			<form @submit.prevent="handleSubmit(submit)">
				<div class="field">
					<label class="label">Seu nome</label>
					<ValidationProvider name="name" rules="required" v-slot="{ errors, classes }">
						<div class="control">
						    <input
						    	v-model="name"
						    	type="text"
						    	:class="classes"
						    	class="input"
						    	placeholder="Nome completo"
						    >
						    <span class="help">{{ errors[0] }}</span>
						</div>
					</ValidationProvider>
				</div>
				<div class="field">
					<label class="label">E-mail</label>
					<ValidationProvider name="email" rules="required|email" v-slot="{ errors, classes }">
						<div class="control">
						    <input
						    	v-model="email"
						    	type="text"
						    	:class="classes"
						    	class="input"
						    	placeholder="email@exemplo.com"
						    >
						    <span class="help">{{ errors[0] }}</span>
						</div>
					</ValidationProvider>
				</div>
				<div class="field">
					<label class="label">Assunto</label>
					<ValidationProvider name="subject" rules="required" v-slot="{ errors, classes }">
						<div class="control">
						    <input
						    	v-model="subject"
						    	type="text"
						    	:class="classes"
						    	class="input"
						    	placeholder="Descreva o assunto de contato"
						    >
						    <span class="help">{{ errors[0] }}</span>
						</div>
					</ValidationProvider>
				</div>
				<div class="field">
					<label class="label">Mensagem</label>
					<ValidationProvider name="message" rules="required" v-slot="{ errors, classes }">
						<div class="control">
						    <input
						    	v-model="message"
						    	type="textarea"
						    	:class="classes"
						    	class="textarea"
						    >
						    <span class="help">{{ errors[0] }}</span>
						</div>
					</ValidationProvider>
				</div>
				<div class="lastField">
					<button
						type="submit"
						class="save button"
						:class="{'is-loading': loading}"
					>
						Enviar
					</button>
				</div>
			</form>
		</ValidationObserver>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				name: null,
				email: null,
				subject: null,
				message: null,
				loading: false,
				submitted: false
			}
		},
		methods: {
			async submit() {
				try {
					this.loading = true
					await this.$api.contacts.send({
						contact: {
							name: this.name,
							email: this.email,
							subject: this.subject,
							message: this.message
						}
					})
					this.clean()
					this.$buefy.toast.open({
						duration: 5000,
						type: 'is-success',
						message: 'Recebemos seu contato!'
					})
				} catch(err) {
					console.error(err.toString())
				} finally {
					this.loading = false
				}
			},
			clean() {
				this.name = ''
				this.email = ''
				this.subject = ''
				this.message = ''
				this.$refs.form.reset()
			}
		}
	}
</script>

<style lang="scss" scoped>
.lastField {
	margin-top: 32px;
  .save {
  	height: 52px;
  	font-size: 18px;
  	line-height: 22px;
    width: 100%;
    max-width: 178px;
    border: none;
    background: linear-gradient(58.3deg, #2955D9 9.06%, #6D4AFB 90.08%);
    border-radius: 20px;
    color: #FAFAFA;
    transition: all .1s ease-in-out;
    &:hover { color: #FAFAFA; transform: scale(1.05); }
  }
}
</style>
