<template>
	<div class="loginCard">
		<div class="logo">
			<nuxt-link to="/">
				<img src="~/assets/logo.svg">
			</nuxt-link>
		</div>
		<h1>
			Faça o login
		</h1>
		<p v-if="confirmation" class="has-text-success"><strong>✓</strong> Conta confirmada</p>
		<ValidationObserver ref="form" v-slot="{ handleSubmit }">
			<form @submit.prevent="handleSubmit(submit)">
				<div class="field">
				  <label class="label">Email</label>
				  <ValidationProvider name="email" rules="email|required" v-slot="{ errors, classes }">
					  <div class="control email">	
					    <input v-model="email" type="text" class="input" :class="classes" placeholder="nome@exemplo.com">
					    <span class="help">{{ errors[0] }}</span>
					  </div>
				  </ValidationProvider>
				</div>
				<div class="field">
				  <label class="label">Senha</label>
				  <ValidationProvider name="password" rules="required" v-slot="{ errors, classes }">
					  <div class="control pass">
					    <input v-model="password" type="password" class="input" :class="classes" placeholder="Digite sua senha">
					    <span class="help">{{ errors[0] }}</span>
					  </div>
					 </ValidationProvider>
	        <div class="field password">
	          <div>
	          	<nuxt-link to="/user/forgotPassword">
	          		Esqueci minha senha
	          	</nuxt-link>
	          </div>
	        </div>
				</div>
				<div class="lastField">
					<button
						type="submit"
						class="login button"
						:class="{'is-loading': loading}"
					>
						Entrar
					</button>
					<nuxt-link to="/user/register">Ainda não é cadastrado?</nuxt-link>
				</div>
			</form>
		</ValidationObserver>
	</div>
</template>
<script>
export default {
	props: ['confirmation'],
	data() {
		return {
			loading: false,
			email: '',
			password: ''
		}
	},
	methods: {
		async submit() {
			try {
				this.loading = true
				await this.$auth.loginWith('local', {
					data: {
						grant_type: 'password',
						email: this.email,
						password: this.password
					}
				})
			} catch(err) {
				console.error(err.toString())
				if(err.response && err.response.status === 401) {
					this.$refs.form.setErrors({
						email: err.response.data,
						password: ['']
					})
				}
			} finally {
				this.loading = false
			}
		}
	}
}	
</script>

<style lang="scss" scoped>
	.has-text-success {
		margin-bottom: 32px;
	}
	div.loginCard {
		width: 620px;
		padding: 42px;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: #ffffff;
		box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
		.logo img { height: 35px; margin-bottom: 52px; }
		h1 {
			font-weight: bold;
			font-size: 32px;
			line-height: 39px;
			letter-spacing: 0.01em;
			color: #333333;
			margin-bottom: 52px;
		}
		form {
			input { width: 413.33px; padding-left: 64px; }
			::placeholder { color: #ADADAD; font-size: 18px; }
			> .field:not(:last-of-type) { margin-bottom: 32px; }
			.field.password {
				color: #333333;
				a { color: #333333; }
				margin-right: 25px;
				margin-left: 25px;
				margin-top: 12px;
				font-size: 12px;
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}
			.label {
				margin-left: 24px;
				font-weight: normal;
				font-size: 18px;
				line-height: 22px;
				letter-spacing: 0.01em;
				color: #333333;
			}
	    .control {
	      &::before {
	        content: '';
	        display: block;
	        position: absolute;
	        z-index: 2;
	        width: 24px;
	        height: 55px;
	        top: -1px;
	        margin-left: 20px;
	        background-repeat: no-repeat;
	        background-position: center;
	      }
	      &.email:before {
	        background-image: url('~assets/icons/email.svg');
	      }
	      &.pass:before {
	        background-image: url('~assets/icons/pass.svg');
	      }
      }
	    .lastField {
	    	margin-top: 52px;
	    	display: flex;
	    	align-items: center;
	    	justify-content: space-between;
	    	a {
	      	font-size: 18px;
	      	line-height: 22px;
	      	color: #333333;
	    	}
	      .login {
	      	height: 52px;
	      	font-size: 18px;
	      	line-height: 22px;
	        width: 100%;
	        max-width: 178px;
	        border: none;
	        background: linear-gradient(58.3deg, #2955D9 9.06%, #6D4AFB 90.08%);
	        border-radius: 20px;
	        color: #FAFAFA;
	        transition: all .1s ease-in-out;
	        &:hover { color: #FAFAFA; transform: scale(1.05); }
	      }
	    }
		}
	}

	@media screen and (max-width: 769px) {
		div.loginCard { width: unset; }
		div.loginCard h1 {
			font-size: 24px; margin-bottom: 32px;
		}
		div.loginCard form {
			input { width: 90vw; }
			.lastField {
				a { font-size: 14px; text-align: right; }
				.login { max-width: 50%; }
			}
		}
	}
</style>