<template>
  <b-table
      :data="orders"
      :mobile-cards="true"
      sort-icon="arrow-up"
      sort-icon-size="is-small"
      :paginated="true"
      :backend-pagination="true"
      :pagination-simple="true"
      :total="total"
      :per-page="items"
      @page-change="onPageChange"
	>
		<template slot-scope="props">

			<b-table-column field="name" label="Participante" cell-class="buyer">
				{{ props.row.user.familiar_name }}
			</b-table-column>

			<b-table-column field="number" label="Nº do pedido" centered>
				{{ props.row.number }}
			</b-table-column>

			<b-table-column field="total" label="Valor" centered>
				{{ props.row.total_cents | moneyFormat }}
			</b-table-column>

			<b-table-column field="tickets" label="Bilhetes" centered>
				{{ props.row.tickets.length }}
			</b-table-column>

			<b-table-column field="created" label="Data da compra" centered>
				{{ correctDate(props.row.created_at) }}
			</b-table-column>

			<b-table-column field="status" label="Status" centered>
				<span :class="props.row.status | statusStyle">{{ props.row.status | statusLocale }}</span>
			</b-table-column>

      <b-table-column field="title" label="Rifa" cell-class="raffleTitle" centered>
      	<div>
        	<span :alt="props.row.campaign.title">
            {{ props.row.campaign.title }}
          </span>
          <nuxt-link :to="{ name: 'campaigns-id', params: { id: props.row.id } }">
          	<img src="~/assets/icons/external-link.svg">
          </nuxt-link>
      	</div>
      </b-table-column>

			<b-table-column field="draw" label="Data do sorteio" centered>
				{{ correctDate(props.row.campaign.draw_date) }}
			</b-table-column>

      <b-table-column field="actions" label="Ações" cell-class="actions" numeric>
      	<div>
      		<nuxt-link :to="`/admin/orders/${props.row.id}`" v-if="isAdmin">
      			<img src="~/assets/icons/eye-grad.svg">
      		</nuxt-link>
      		<nuxt-link :to="`/promoter/orders/${props.row.id}`" v-else-if="isPromoter">
      			<img src="~/assets/icons/eye-grad.svg">
      		</nuxt-link>
	        <nuxt-link :to="`/user/orders/${props.row.id}`" v-else>
	          <img src="~/assets/icons/eye-grad.svg">
	        </nuxt-link>
	      </div>
      </b-table-column>

		</template>
	</b-table>
</template>

<script>
	import Dinero from 'dinero.js'

	export default {
		props: {
			campaign: {
				type: Object,
				required: false
			},
			isAdmin: {
				type: Boolean,
				default: false
			},
			isPromoter: {
				type: Boolean,
				default: false
			}
		},
		data() {
			return {
				orders: [],
				total: 0,
				page: 1,
				items: 5
			}
		},
		async fetch() {
			let response
			if(!this.isAdmin) {
				response = await this.$api.orders.count()
				this.total = response.data.count
				response = await this.$api.orders.getAll({ page: this.page, items: this.items })
				this.orders = response.data
			} else {
				if(this.campaign) {
					response = await this.$api.orders.countCampaignOrders(this.campaign.id)
					this.total = response.data.count
					response = await this.$api.orders.getAllCampaignOrders(this.campaign.id, { page: this.page, items: this.items })
					this.orders = response.data
				} else {
					response = await this.$api.orders.countAdmin()
					this.total = response.data.count
					response = await this.$api.orders.getAllAdmin({ page: this.page, items: this.items })
					this.orders = response.data
				}
			}
		},
		methods: {
			correctDate(value) {
				return this.$moment(value).format('DD/MM/YYYY')
			},
			onPageChange(page) {
				this.page = page
				this.$fetch()
			}
		},
		filters: {
			statusLocale(value) {
				if(value === 'paid') {
					return 'Aprovado'
				} else if(value === 'waiting') {
					return 'Processando'
				} else if(value === 'not_paid') {
					return 'Negado'
				} else if(value === 'reverted') {
					return 'Reembolsado'
				}
			},
			statusStyle(value) {
				if(value === 'paid') {
					return 'has-text-success'
				} else if(value === 'waiting') {
					return 'has-text-warning'
				} else if(value === 'not_paid') {
					return 'has-text-danger'
				} else if(value === 'reverted') {
					return 'has-text-danger'
				}
			},
			moneyFormat(value) {
				return Dinero({ amount: parseInt(value) }).toFormat()
			}
		}
	}
</script>

<style lang="scss" scoped>
.raffleTitle {
	max-width: 200px;
	> div { display: flex; justify-content: center; }
	span {
		display: inline-block;
		text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px;
	}
	a {
		&:hover { filter: contrast(10); }
		display: inline-block;
		min-width: 18px;
		img { vertical-align: super; }
	}
}
.actions {
	a {
		&:first-of-type:hover { filter: brightness(0.5); }
		&:last-of-type:hover { filter: contrast(2); }
	}
}

@media screen and (max-width: 769px) {
	.raffleTitle {
		max-width: 100%;
		span { max-width: 160px; font-weight: 500; }
		a {
			img { vertical-align: text-top; }
		}
	}
	.buyer {
		background-color: #6D4AFB;
		color: #fafafa;
	}
	.revenue {
		span:first-of-type { margin-right: 4px; }
	}
	.actions {
		a:last-of-type { margin-left: 4px; }
	}
}
</style>
