<template>
	<div class="columns">
		<div class="column is-4">
			<h3>Pedido #MASNDN</h3>
			<p class="content">
				<strong>Data da cobrança:</strong> <span>{{ correctDate(order.payment.created_at) }}</span> <br>
				<strong>Valor:</strong> <span>{{ order.total_cents | moneyFormat }}</span> <br>
				<p v-if="order.payment.instrument === 'credit_card'">
					<strong>Forma de pagamento:</strong> <span>{{ order.payment.card_brand }} final {{ order.payment.card_number }}</span>
				</p>
				<p v-else>
					<strong>Forma de pagamento:</strong> <span>BOLETO</span>
				</p>
			</p>
		</div>
		<div class="column is-half">
			<h3>Detalhes</h3>
			<p class="content">
				<strong>Campanha:</strong> <span>{{ order.campaign.title }}</span> <br>
				<strong>Bilhetes:</strong> <span>{{ order.tickets.map(t => t.number).join(', ') }}</span> <br>
				<strong>Data do sorteio:</strong> <span>{{ correctDate(order.campaign.draw_date) }}</span>
			</p>
		</div>
	</div>
</template>

<script>
import Dinero from 'dinero.js'
export default {
	props: {
		order: {
			type: Object,
			required: true
		}
	},
	filters: {
		moneyFormat(value) {
			return Dinero({ amount: parseInt(value) }).toFormat()
		}
	},
	methods: {
		correctDate(value) {
			return this.$moment(value).format('DD/MM/YYYY')
		}
	}
}
</script>

<style lang="scss" scoped>
	.columns {
		margin-top: 32px;
		.content { margin-top: 24px; }
	}
</style>
