<template>
	<nuxt-link :to="{ name: 'campaigns-id', params: { id: campaign.id } }">
		<div class="raffleCard">
			<div class="image">
				<img :src="campaign.photos[0].url">
			</div>
			<div class="content">
				<div class="title">
					{{ campaign.title }}
				</div>
				<div class="details">
					<span class="draw">Sorteio dia {{ dateToFormat(campaign.draw_date) }}</span>
					<span class="price">{{ campaign.raffle.price_cents | moneyFormat }}</span>
				</div>
				<div class="author">
					<div class="avatar">
						<img :src="campaign.publisher.avatar" alt="avatar" v-if="campaign.publisher.avatar">
						<img src="~/assets/imgs/avatar.jpg" alt="avatar" v-else>
					</div>
					<div class="name">
						{{ campaign.publisher.familiar_name }}
					</div>
				</div>
			</div>
		</div>
	</nuxt-link>
</template>

<script>
import Dinero from 'dinero.js'
export default {
	props: {
		campaign: {
			type: Object,
			required: true
		}
	},
	filters: {
		moneyFormat(value) {
			return Dinero({ amount: value }).toFormat()
		}
	},
	methods: {
		dateToFormat(value) {
			return this.$moment(value).format('DD [de] MMMM')
		}
	}
}
</script>

<style lang="scss" scoped>
@media screen and (min-width: 769px) {
	.raffleCard {
		&:hover {
			box-shadow: 0 7px 16px 0 rgba(0,0,0,.2), 0 1px 3px 0 rgba(0,0,0,.1);
			.content .title {
				white-space: normal;
				display: -webkit-box;
		    -webkit-line-clamp: 2;
		    -webkit-box-orient: vertical;
			}
		}
	}
}
.raffleCard {
	background: #FFFFFF;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
	width: 100%;
	min-height: 415px;
	@media(max-width: 769px) {
		min-height: 360px;
	}
	transition: all .2s ease-in-out;
	.image {
		background-color: #fafafa;
		width: 100%;
		padding-top: 56.626506024%;
		overflow: hidden;
		position: relative;
		> img {
			position: absolute;
			width: auto;
			height: 100%;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			right: 0;
			bottom: 0;
		}
	}
	.content {
		padding: 32px 24px;
		.title {
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			color: #333333;
			width: 100%;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			max-height: 44px;
			margin-bottom: 12px;
		}
		.details {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.draw {
				font-weight: 500;
				font-size: 14px;
				line-height: 17px;
				color: #858585;
			}
			.price {
				font-size: 18px;
				line-height: 22px;
				color: #000000;
			}
		}
		.author {
			margin-top: 32px;
			display: flex;
			align-items: center;
			.avatar {
				width: 30px;
				height: 30px;
				img { border-radius: 50%; }
			}
			.name {
				margin-left: 12px;
				font-size: 16px;
				line-height: 19px;
				color: #858585;
			}
		}
	}
}
</style>