<template>
	<div class="loginCard">
		<div class="logo">
			<nuxt-link to="/">
				<img src="~/assets/logo.svg">
			</nuxt-link>
		</div>
		<transition name="fade" mode="out-in">
			<div v-if="successMessage" key="success">
				<h1 class="has-text-centered">
					Tudo certo! 🎉
				</h1>
				<p class="has-text-centered">Verique seu email para confirmar sua conta.</p>
			</div>
			<div v-else key="form">
				<h1>
					Crie sua conta
				</h1>
				<ValidationObserver ref="form" v-slot="{ handleSubmit }">
					<form @submit.prevent="handleSubmit(submit)">
						<div class="field">
						  <label class="label">Nome</label>
						  <ValidationProvider name="nome" rules="name|required|alpha_spaces" v-slot="{ errors, classes }">
							  <div class="control user">
							    <input v-model="name" type="text" class="input" :class="classes" placeholder="Nome completo">
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
						<div class="field">
						  <label class="label">Email</label>
						  <ValidationProvider name="email" rules="email|required" v-slot="{ errors, classes }">
							  <div class="control email">
							    <input v-model="email" type="text" class="input" :class="classes" placeholder="nome@exemplo.com">
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
						<div class="field">
						  <label class="label">Senha</label>
						  <p class="help">Mínimo de 8 dígitos</p>
						  <ValidationProvider name="senha" rules="min:8|required" v-slot="{ errors, classes }">
							  <div class="control pass">
							    <input v-model="password" type="password" class="input" :class="classes" placeholder="Crie uma senha">
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
						<div class="lastField">
							<button
								type="submit"
								class="login button"
								:class="{'is-loading': loading}"
							>
								Cadastrar-se
							</button>
							<nuxt-link to="/user/login">Já tem cadastro?</nuxt-link>
						</div>
					</form>
				</ValidationObserver>
			</div>
		</transition>
	</div>
</template>
<script>
export default {
	data() {
		return {
			successMessage: false,
			loading: false,
			name: '',
			email: '',
			password: ''
		}
	},
	methods: {
		async submit() {
			try {
				this.loading = true
				await this.$api.registrations.create({
					user: {
						name: this.name,
						email: this.email,
						password: this.password
					}
				})
				this.successMessage = true
			} catch(err) {
				console.error(err.toString())
				if(err.response && err.response.status === 422) {
					this.$refs.form.setErrors(err.response.data.errors)
				}
			} finally {
				this.loading = false
			}
		}
	}
}
</script>

<style lang="scss" scoped>
	div.loginCard {
		width: 620px;
		padding: 42px;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: #ffffff;
		box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
		.logo img { height: 35px; margin-bottom: 52px; }
		h1 {
			font-weight: bold;
			font-size: 32px;
			line-height: 39px;
			letter-spacing: 0.01em;
			color: #333333;
			margin-bottom: 52px;
			text-align: center;
		}
		form {
			input { width: 413.33px; padding-left: 64px; }
			::placeholder { color: #ADADAD; font-size: 18px; }
			> .field:not(:last-of-type) { margin-bottom: 32px; }
			.label {
				display: inline-block;
				margin-left: 24px;
				font-weight: normal;
				font-size: 18px;
				line-height: 22px;
				letter-spacing: 0.01em;
				color: #333333;
			}
			p.help { display: inline-block; margin-left: 20px; }
	    .control {
	      &::before {
	        content: '';
	        display: block;
	        position: absolute;
	        z-index: 2;
	        width: 24px;
	        height: 55px;
	        top: -1px;
	        margin-left: 20px;
	        background-repeat: no-repeat;
	        background-position: center;
	      }
	      &.user:before {
	        background-image: url('~assets/icons/user.svg');
	      }
	      &.email:before {
	        background-image: url('~assets/icons/email.svg');
	      }
	      &.pass:before {
	        background-image: url('~assets/icons/pass.svg');
	      }
      }
	    .lastField {
	    	margin-top: 52px;
	    	display: flex;
	    	align-items: center;
	    	justify-content: space-between;
	    	a {
	      	font-size: 18px;
	      	line-height: 22px;
	      	color: #333333;
	    	}
	      .login {
	      	height: 52px;
	      	font-size: 18px;
	      	line-height: 22px;
	        width: 100%;
	        max-width: 178px;
	        border: none;
	        background: linear-gradient(58.3deg, #2955D9 9.06%, #6D4AFB 90.08%);
	        border-radius: 20px;
	        color: #FAFAFA;
	        transition: all .1s ease-in-out;
	        &:hover { color: #FAFAFA; transform: scale(1.05); }
	      }
	    }
		}
	}
	@media screen and (max-width: 769px) {
		div.loginCard { width: unset; }
		div.loginCard h1 {
			font-size: 24px; margin-bottom: 32px;
		}
		div.loginCard form {
			input { width: 90vw; }
			.lastField {
				a { font-size: 14px; text-align: right; }
				.login { max-width: 50%; }
			}
		}
	}
</style>