<template>
	<a @click="signOut">
		<slot></slot>	
	</a>
</template>

<script>
export default {
	methods: {
		async signOut() {
			this.$nuxt.$loading.start()
			await this.$auth.logout()
			this.$nuxt.$loading.finish()
			this.$buefy.toast.open('Sessão finalizada.')
		}
	}
}
</script>