<template>
	<div>
		<div class="caption">
			<div class="available">
				Livre
			</div>
			<div class="reserved">
				Reservado
			</div>
			<div class="active">
				Pago
			</div>
		</div>
		<div :class="!campaign.sellable ? 'tickets noScroll' : 'tickets'">
			<div v-if="!campaign.sellable" class="notSellable">
				<h2>Vendas encerradas 😬</h2>
			</div>
			<div
				v-for="(_, number) in campaign.raffle.quantity"
				:key="number"
				:class="[
					ticketStyle(number),
					{ selected: selected.includes(number)}
				]"
				class="ticket"
				@click="click(number)"
			>
				{{ number | padding }}
			</div>
		</div>
    <b-message type="is-info" size="is-small" class="is-hidden-tablet">
        Arraste para o lado para ver todos os bilhetes ->
    </b-message>
	</div>
</template>

<script>
	export default {
		props: {
			campaign: {
				type: Object,
				required: true
			}
		},
		data() {
			return {
				selected: []
			}
		},
		filters: {
			padding(value) {
				return value.toString().padStart(3, '0')
			}
		},
		methods: {
			click(number) {
				if(this.notAvailableNumbers.includes(number)) return
				if(this.selected.includes(number)) {
					let index = this.selected.indexOf(number)
		      this.selected.splice(index, 1)
				} else {
					this.selected.push(number)
				}
				this.$emit('selectionChange', this.selected)
			},
			ticketStyle(number) {
				if(!this.notAvailableNumbers.includes(number)) return 'available'
				const ticket = this.campaign.tickets.find(t => t.number === number)
				return ticket.status
			}
		},
		computed: {
			notAvailableNumbers() {
				return this.campaign.tickets.map(ticket => ticket.number)
			}
		}
	}
</script>

<style lang="scss" scoped>
.notSellable {
	position: absolute;
	width: 105%;
	height: 105%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.9);
	backdrop-filter: blur(4px);
	h2 {
		text-align: center;
		margin-top: 96px;
		font-weight: bold;
		font-size: 32px;
		line-height: 39px;
		@media (max-width: 769px) {
			font-size: 24px;
			line-height: 30px;
			margin-top: 42px;
		}
		text-align: center;
		letter-spacing: 0.01em;
		color: #333333;
	}
}
.tickets {
	display: grid;
	grid-template-columns: repeat(20, minmax(0, 1fr));
	column-gap: 10px;
	row-gap: 10px;
	margin-top: 42px;
	position: relative;
	.ticket {
		border-radius: 4px;
		padding: 12px 16px;
		width: 60px;
		user-select: none;
		cursor: pointer;
		display: flex;
		justify-content: center;
		&.available {
			background: #FAFAFA;
			border: 1px solid rgba(133, 133, 133, 0.2);
			font-size: 16px;
			line-height: 19px;
			color: #858585;
		}
		&.selected {
			background: #6D4AFB;
			color: #fafafa;	
		}
		&.reserved {
			background: linear-gradient(90deg, #FFB347 0%, #FFCC33 100%);
			color: #fafafa;
			cursor: default;
		}
		&.active {
			background: linear-gradient(90deg, #0BA360 0%, #3CBA92 100%);
			color: #fafafa;
			cursor: default;
		}
	}
}
.caption {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 415px;
	> div {
		display: flex;
		align-items: center;
		&::before {
			content: '';
			position: relative;
			width: 46px;
			height: 20px;
			border: 1px solid rgba(133, 133, 133, 0.2);
			border-radius: 4px;
			margin-right: 12px;
		}
	}
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #858585;
	.available {
		&::before {
			background: #FAFAFA;
		}
	}
	.reserved {
		&::before {
			background: linear-gradient(90deg, #FFB347 0%, #FFCC33 100%);
		}
	}
	.active {
		&::before {
			background: linear-gradient(90deg, #0BA360 0%, #3CBA92 100%);
		}
	}
}

@media screen and (min-width: 800px) {
	.tickets {
		.ticket {
			&.available {
				&:hover {
					background: #7c5cfb;
					color: #fafafa;
				}
			}
		}
	}
}

@media screen and (max-width: 1407px) {
	.tickets {
		grid-template-columns: repeat(16, minmax(0, 1fr));
	}
}

@media screen and (max-width: 1215px) {
	.tickets {
		grid-template-columns: repeat(14, minmax(0, 1fr));
	}
}

@media screen and (max-width: 980px) {
	.tickets {
		grid-template-columns: repeat(10, minmax(0, 1fr));
	}
}

	@media screen and (max-width: 769px) {
		.caption {
			justify-content: flex-start;
			font-size: 12px;
			width: 100%;
			> div { margin-right: 24px; }
			> div:before {
				margin-right: 8px;
				width: 32px;
			}
		}
		.tickets {
			margin-bottom: 24px;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			max-height: 100vw;
			overflow-x: auto;
			scroll-snap-type: x mandatory;
	    -webkit-overflow-scrolling: touch;
	    scroll-padding: 20px;
	    scrollbar-width: none;
	    &.noScroll {
	    	overflow-x: hidden;
	    }
			.ticket {
				margin: 0 10px 10px 0;
				scroll-snap-align: start;
			}
		}
	}
</style>