<template>
	<div class="modal-card">
		<ValidationObserver v-slot="{ handleSubmit }">
			<form @submit.prevent="handleSubmit(submit)">
				<header class="modal-card-head">
					<p class="modal-card-title">Sacar</p>
					<button
						type="button"
						class="delete"
						@click="$parent.close()"/>
				</header>
				<section class="modal-card-body">
					<ValidationProvider name="valor" rules="required" v-slot="{ errors, classes }">
						<div class="field">
							<label class="label">Insira o valor desejado</label>
							<div class="control">
								<currency-input
									:class="classes"
									v-model="amount"
									:max="balance"
									class="input"
									placeholder="Valor"
									>
								</currency-input>
								<span class="help">{{ errors[0] }}</span>
							</div>
						</div>
					</ValidationProvider>
					<p class="available"><strong>Disponível:</strong> {{ newBalance | moneyFormat }}</p>
				</section>
				<footer class="modal-card-foot">
					<button type="button" class="cancel button" @click="$parent.close()">
						Cancelar
					</button>
					<button
						type="submit"
						class="save button"
						:class="{'is-loading': loading}"
					>
						Confirmar
					</button>
				</footer>
			</form>
		</ValidationObserver>
	</div>
</template>

<script>
	import Dinero from 'dinero.js'
	import CurrencyInput from '~/components/form/CurrencyInput.vue'
	export default {
		components: {
			CurrencyInput
		},
		data() {
			return {
				loading: false,
				amount: null
			}
		},
		props: [ 'balance' ],
	  filters: {
	    moneyFormat(value) {
	      return Dinero({ amount: value }).toFormat()
	    }
	  },
	  methods: {
	  	async submit() {
	  		if(this.loading) return

	  		try {
	  			this.loading = true
	  			await this.$api.transfers.create({ transfer: { total_cents: this.amount } })
	  			this.$emit('success')
	  		} catch(err) {
	  			const response = err.response
	  			if(response && response.status === 422) {
	  				this.$buefy.toast.open({
	  					duration: 5000,
	  					message: 'Saldo insuficiente',
	  					type: 'is-danger'
	  				})
	  			}
	  			console.error(err.toString())
	  		} finally {
	  			this.loading = false
	  		}
	  	}
	  },
	  computed: {
	  	newBalance() {
	  		return this.balance - this.amount
	  	}
	  }
	}
</script>

<style lang="scss" scoped>
	.modal-card {
		width: auto;
	}
	.available {
		margin-top: 32px;
		margin-bottom: 12px;
		font-size: 14px;
	}
  .button {
  	height: 52px;
  	font-size: 18px;
  	line-height: 22px;
    width: 100%;
    max-width: 178px;
    border: none;
    border-radius: 20px;
    &.save {
    	background: linear-gradient(58.3deg, #2955D9 9.06%, #6D4AFB 90.08%);
    	color: #FAFAFA;
	    transition: all .1s ease-in-out;
	    &:hover { color: #FAFAFA; transform: scale(1.05); }
    }
    &.cancel {
    	border: 2px solid #E1E1E1;
    }
  }
</style>