<template>
	<div>
		<ValidationObserver v-slot="{ handleSubmit }">
			<form @submit.prevent="handleSubmit(submit)">
				<div class="columns is-multiline">
					<div class="column is-full">
						<div class="field">
						  <label class="label">Nome completo</label>
						  <ValidationProvider
						  	name="name"
						  	rules="name|required|alpha_spaces"
						  	v-slot="{ errors, classes }"
						  >
							  <div class="control">
							    <input
							    	v-model="user.name"
							    	:class="classes"
							    	class="input"
							    	type="text"
							    	placeholder="Digite seu nome"
							    >	
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>
					<b-modal
						ref="modal"
						:active.sync="cropping"
						:can-cancel="false"
						:destroy-on-hide="false"
						:width="500">
						<div class="modal-card" style="width: auto">
							<header class="modal-card-head">
								<p class="modal-card-title">Foto de perfil</p>
							</header>
							<section class="modal-card-body">
								<vue-cropper
									ref="cropper"
									:view-mode="1"
									drag-mode="move"
									:aspect-ratio="1"
									:src="imgSrc"
									style="height: 300px"
								/>
							</section>
							<footer class="modal-card-foot">
								<button class="button" type="button" @click="cancelCrop">Cancelar</button>	
								<a class="button is-primary" @click="cropImage">Confirmar</a>
							</footer>
						</div>
					</b-modal>
					<div class="column is-full">
						<div class="field file">
							<b-upload @input="onFileInput">
								<a class="button is-primary">
									<b-icon icon="upload"></b-icon>
									<span>Foto de perfil</span>
								</a>
								<span class="file-name" v-show="filename">
									{{ filename }}
								</span>
							</b-upload>
						</div>
					</div>
					<div class="column is-half">
						<div class="field">
						  <label class="label">Email</label>
							  <div class="control">
							    <input
							    	:value="user.email"
							    	type="text"
							    	class="input"
							    	placeholder="email@atual.com"
							    	disabled
							    >
							  </div>
						</div>
					</div>
					<div class="column is-half">
						<div class="field">
						  <label class="label">Whatsapp</label>
						  <ValidationProvider name="phone" rules="phone|required" v-slot="{ errors, classes }">
							  <div class="control">
							    <input
							    	v-model="user.phone"
							    	type="text"
							    	:class="classes"
							    	class="input"
							    	v-mask="'(##) # ####-####'"
							    	placeholder="(xx) x xxxx-xxxx"
							    >
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>
					<div class="column is-half">
						<div class="field">
						  <label class="label">CPF</label>
						  <ValidationProvider name="cpf" rules="cpf|required" v-slot="{ errors, classes }">
							  <div class="control">
							    <input
							    	v-model="user.document_number"
							    	type="text"
							    	:class="classes"
							    	class="input"
							    	v-mask="'###.###.###-##'"
							    	placeholder="xxx.xxx.xxx-xx"
							    >
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>
					<div class="column is-half">
						<div class="field">
						  <label class="label">Data de nascimento</label>
						  <ValidationProvider
						  	name="date"
						  	:rules="{ date: 'DD/MM/YYYY', required: true }"
						  	v-slot="{ errors, classes }"
						  >
							  <div class="control">
							    <input
							    	v-model="user.birthdate"
							    	type="text"
							    	v-mask="'##/##/####'"
							    	:class="classes"
							    	class="input"
							    	placeholder="dd/mm/aaaa"
							    >	
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>
					<div class="column is-6">
						<div class="field">	  
							<label class="label">CEP</label>
						  <ValidationProvider name="cep" rules="cep|required" v-slot="{ errors, classes }">
							  <div class="control" :class="{'is-loading': zipcodeLoading}">
							    <input
							    	v-model="user.address_attributes.zipcode"
							    	@input="checkZipcode"
							    	v-mask="'#####-###'"
							    	type="text"
							    	:class="classes"
							    	class="input"
							    	placeholder="xxxxx-xxx"
							    >	
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>
					<div class="column is-6"></div>
					<div class="column is-6">
					  <div class="control is-expanded">
					  	<label class="label">Bairro</label>
						  <ValidationProvider name="district" rules="required" v-slot="{ errors, classes }">
						    <input
						    	v-model="user.address_attributes.district"
						    	type="text"
						    	:class="classes"
						    	class="input"
						    	placeholder="Seu bairro"
						    >	
						    <span class="help">{{ errors[0] }}</span>
						  </ValidationProvider>
					  </div>
					</div>
					<div class="column is-4">
						<div class="field">
							<label class="label">Cidade</label>
						  <ValidationProvider name="city" rules="required" v-slot="{ errors, classes }">
							  <div class="control">
							    <input
							    	v-model="user.address_attributes.city"
							    	type="text"
							    	:class="classes"
							    	class="input"
							    	placeholder="Sua cidade"
							    >	
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>
					<div class="column is-2">
					  <label class="label">Estado</label>
					  <ValidationProvider name="state" rules="required" v-slot="{ errors, classes }">
						  <div class="control">
						    <input
						    	v-model="user.address_attributes.state"
						    	v-mask="'AA'"
						    	type="text"
						    	:class="classes"
						    	class="input"
						    	placeholder="UF"
						    >	
						    <span class="help">{{ errors[0] }}</span>
						  </div>
						</ValidationProvider>
					</div>
					<div class="column is-half">
						<div class="field">
						  <label class="label">Endereço</label>
						  <ValidationProvider name="street" rules="required" v-slot="{ errors, classes }">
							  <div class="control">
							    <input
							    	v-model="user.address_attributes.street"
							    	type="text"
							    	:class="classes"
							    	class="input"
							    	placeholder="Rua/av..."
							    >
							    <span class="help">{{ errors[0] }}</span>
							  </div>
							</ValidationProvider>
						</div>
					</div>
					<div class="column is-half">
						<div class="field is-grouped">
						  <div class="control is-expanded">
						  	<label class="label">Número</label>
							  <ValidationProvider name="number" rules="required" v-slot="{ errors, classes }">
							    <input
							    	v-model="user.address_attributes.number"
							    	type="text"
							    	:class="classes"
							    	class="input"
							    	placeholder="Nº"
							    >	
							    <span class="help">{{ errors[0] }}</span>
							  </ValidationProvider>
						  </div>
						  <div class="control is-expanded">
						  	<label class="label">Complemento</label>
						    <input
						    	v-model="user.address_attributes.complement"
						    	type="text"
						    	class="input"
						    	placeholder="Apto/casa"
						    >	
						  </div>
						</div>
					</div>
				</div>
				<div class="lastField">
					<button
						type="submit"
						class="save button"
						:class="{'is-loading': loading}"
					>
						Salvar
					</button>
				</div>
			</form>
		</ValidationObserver>
	</div>
</template>

<script>
import cep from 'cep-promise'
import { cloneDeep } from 'lodash'
import VueCropper from 'vue-cropperjs'
import 'cropperjs/dist/cropper.css'
import { objectToFormData } from 'object-to-formdata'

const parseFormData = user => {
	let data = { ...user }
	if(user.image !== null) {
		const photo_attributes = { image: user.image }
		if(user.hasOwnProperty('profile')) {
			photo_attributes.id = user.profile.id
		}
		data.photo_attributes = photo_attributes
		delete data.image
	}

	return objectToFormData(data)
}

export default {
	components: {
		VueCropper
	},
	data() {
		return {
			user: {
				image: null,
				name: '',
				email: '',
				phone: '',
				document_number: '',
				birthdate: '',
				address_attributes: {
					street: '',
					number: '',
					complement: '',
					district: '',
					zipcode: '',
					city: '',
					state: ''
				}
			},
			filename: '',
			imgSrc: null,
			zipcodeLoading: false,
			cropping: false,
			loading: false
		}
	},
	created() {
		this.refreshUser()
	},
	methods: {
		async submit() {
			try {
				this.loading = true
				const response = await this.$api.registrations.update(parseFormData(this.user))
				this.$auth.setUser(response.data)
				this.refreshUser()
				this.$buefy.toast.open({
					duration: 5000,
					message: 'Cadastro atualizado!',
					type: 'is-success' })
			} catch(err) {
				console.error(err.toString())
			} finally {
				this.loading = false
			}
		},
		refreshUser() {
			const user = cloneDeep(this.$auth.user)
			let birthdate = null
			if(user.birthdate) {
				birthdate = this.$moment(user.birthdate).format('DD/MM/YYYY')
			}
			this.user = { ...this.user, ...user, birthdate }
		},
		checkZipcode() {
			const address = this.user.address_attributes
			if(address.zipcode.length == 9) {
				this.zipcodeLoading = true
				const cepNumber = address.zipcode.replace(/-|\s/g, '')
				cep(cepNumber).then((result) => {
					address.street = result.street
					address.district = result.neighborhood
					address.city = result.city
					address.state = result.state
					this.zipcodeLoading = false
				})
			}
		},
		onFileInput(file) {
			this.filename = file.name
			const reader = new FileReader()
			reader.onload = event => {
				this.imgSrc = event.target.result
				this.$refs.cropper.replace(event.target.result)
				this.cropping = true
			}
			reader.readAsDataURL(file)
		},
		cropImage() {
			this.$refs.cropper.getCroppedCanvas().toBlob(blob => {
				let file = new File([blob], this.filename)
				this.user.image = file
			}, 'image/jpeg')
			this.$refs.modal.close()
		},
		cancelCrop() {
			this.filename = ''
			this.$refs.modal.close()
		}
	}
}
</script>

<style lang="scss" scoped>
.lastField {
	margin-top: 52px;
  .save {
  	height: 52px;
  	font-size: 18px;
  	line-height: 22px;
    width: 100%;
    max-width: 178px;
    border: none;
    background: linear-gradient(58.3deg, #2955D9 9.06%, #6D4AFB 90.08%);
    border-radius: 20px;
    color: #FAFAFA;
    transition: all .1s ease-in-out;
    &:hover { color: #FAFAFA; transform: scale(1.05); }
  }
}
</style>