<template>
	<div>
		<ValidationObserver v-slot="{ handleSubmit }">
			<form @submit.prevent="handleSubmit(submit)">
				<div class="columns is-multiline">
					<div class="column is-7">
						<div class="field">
							<label class="label">Banco</label>
						  <ValidationProvider
						  	name="bank"
						  	rules="required|confirmed:confirmation"
						  	v-slot="{ errors, classes }"
						  >
						  	<div class="control">
						  		<b-autocomplete
						  			placeholder="Selecione o seu banco"
						  			:value="bank"
						  			@input="value => (bankInput = value)"
						  			field="name"
						  			:data="filteredDataObj"
						  			:class="classes"
						  			:open-on-focus="true"
						  			@select="onBankSelect">
						  			<template slot-scope="bank">
						  				<strong> {{ bank.option.cod }} </strong> - {{ bank.option.name }}
						  			</template>
						  		</b-autocomplete>
						  		<span class="help">{{ errors[0] }}</span>
						  	</div>
							</ValidationProvider>
							<ValidationProvider vid="confirmation">
								<input v-model="bankValidation" type="hidden">
							</ValidationProvider>
						</div>
					</div>
					<div class="column is-5">
						<ValidationProvider name="type" rules="required" v-slot="{ errors, classes }">
							<b-field label="Tipo da conta" :message="errors[0]" :type="errors[0] ? 'is-danger' : ''">
								<b-select v-model="bank_account.account_type" placeholder="Selecione">
									<option value="CHECKING">Conta corrente</option>
									<option value="SAVING">Conta poupança</option>
								</b-select>
							</b-field>
						</ValidationProvider>
					</div>
					<div class="column is-12">
						<div class="columns is-mobile">
							<div class="column is-7">
								<ValidationProvider name="agency" rules="required" v-slot="{ errors, classes }">
									<div class="field">
										<label class="label">Agência</label>
										<div class="control">
											<input
												v-model="bank_account.agency_number"
												:class="classes"
												class="input"
												type="text"
												placeholder="XXXX"
												>
												<span class="help">{{ errors[0] }}</span>
										</div>
									</div>
								</ValidationProvider>
							</div>
							<div class="column is-4">
								<div class="field">
									<label class="label">Dígito</label>
									<div class="control">
										<input
											v-model="bank_account.agency_check_number"
											class="input"
											type="text"
											placeholder="Preencha se houver"
											>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-12">
						<div class="columns is-mobile">
							<div class="column is-7">
								<ValidationProvider name="accountNumber" rules="required" v-slot="{ errors, classes }">
									<div class="field">
										<label class="label">Número da conta</label>
										<div class="control">
											<input
												v-model="bank_account.account_number"
												:class="classes"
												class="input"
												type="text"
												placeholder="XXXX"
												>
												<span class="help">{{ errors[0] }}</span>
										</div>
									</div>
								</ValidationProvider>
							</div>
							<div class="column is-4">
								<div class="field">
									<label class="label">Dígito</label>
									<div class="control">
										<input
											v-model="bank_account.account_check_number"
											class="input"
											type="text"
											placeholder="Preencha se houver"
											>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-11">
						<ValidationProvider name="holderName" rules="name|required|alpha_spaces" v-slot="{ errors, classes }">
							<div class="field">
								<label class="label">Titular da conta</label>
								<div class="control">
									<input
										v-model="bank_account.legal_name"
										:class="classes"
										class="input"
										type="text"
										placeholder="Nome completo"
										>
										<span class="help">{{ errors[0] }}</span>
								</div>
							</div>
						</ValidationProvider>
					</div>
					<div class="column is-12">
						<div class="columns is-mobile">
							<div class="column is-4">
								<ValidationProvider name="taxDocumentType" rules="required" v-slot="{ errors, classes }">
									<b-field label="Tipo do documento" :message="errors[0]" :type="errors[0] ? 'is-danger' : ''">
										<b-select v-model="bank_account.document_type" placeholder="Selecione" expanded>
											<option value="CPF">CPF</option>
											<option value="CNPJ">CNPJ</option>
										</b-select>
									</b-field>
								</ValidationProvider>
							</div>
							<div class="column is-7">
								<ValidationProvider name="taxDocumentNumber" rules="required" v-slot="{ errors, classes }">
									<div class="field">
										<label class="label">Número do documento</label>
										<div class="control">
											<input
												v-model="bank_account.document_number"
												:class="classes"
												class="input"
												type="text"
												placeholder="XXX.XXX.XXX-XX"
												>
												<span class="help">{{ errors[0] }}</span>
										</div>
									</div>
								</ValidationProvider>
							</div>
						</div>
					</div>
				</div>
				<div class="lastField">
					<button
						type="submit"
						class="save button"
						:class="{'is-loading': loading}"
					>
						Salvar
					</button>
				</div>
			</form>
		</ValidationObserver>
	</div>
</template>

<script>
	import { pick } from 'lodash'
	const bankData = require('@/static/banks.json')
	export default {
		props: {
			data: {
				type: Object
			}
		},
		data() {
			let bank_account = {
				id: null,
				bank_code: '',
				account_type: '',
				agency_number: '',
				agency_check_number: '',
				account_number: '',
				account_check_number: '',
				legal_name: '',
				document_type: '',
				document_number: ''
			}
			if(this.data) {
				bank_account = pick(this.data, Object.keys(bank_account))
			}
			return {
				bank_account,
				bankData,
				bankInput: '',
				selectedBank: null,
				loading: false
			}
		},
		methods: {
			async submit() {
				try {
					if(this.loading) {
						return
					}
					this.loading = true
					let response
					if(this.bank_account.id !== null) {
						response = await this.$api.bank_account.update({
							bank_account: this.bank_account
						})
					} else {
						response = await this.$api.bank_account.create({
							bank_account: this.bank_account
						})
					}
					const data = pick(response.data, Object.keys(this.bank_account))
					Object.assign(this.bank_account, data)
					this.$buefy.toast.open({
						duration: 5000,
						message: 'Dados bancários cadastrados!',
						type: 'is-success'
					})
				} catch(err) {
					console.error(err.toString())
				} finally {
					this.loading = false
				}
			},
			onBankSelect(bank) {
				this.selectedBank = bank
				if(bank !== null) {
					this.bank_account.bank_code = bank.cod
				}
			}
		},
		computed: {
			filteredDataObj() {
				return this.bankData.filter(option => {
					return (
							option.name
								.toString()
								.toLowerCase()
								.indexOf(this.bankInput.toLowerCase()) >= 0
						)
				})
			},
			bankValidation() {
				if(this.selectedBank) {
					return this.selectedBank.name
				} else if(this.bank) {
					return this.bank
				}
			},
			bank() {
				const bankCode = this.bank_account.bank_code
				if(bankCode === '') {
					return ''
				} else {
					return this.bankData.find(bank => bank.cod === bankCode).name
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
.lastField {
	margin-top: 52px;
  .save {
  	height: 52px;
  	font-size: 18px;
  	line-height: 22px;
    width: 100%;
    max-width: 178px;
    border: none;
    background: linear-gradient(58.3deg, #2955D9 9.06%, #6D4AFB 90.08%);
    border-radius: 20px;
    color: #FAFAFA;
    transition: all .1s ease-in-out;
    &:hover { color: #FAFAFA; transform: scale(1.05); }
  }
}
</style>