<template>
	<div class="container">
		<div
			v-if="campaign.status === 'waiting_receipt' || campaign.status === 'finished'"
			class="columns is-centered drawn"
		>
			<div class="column is-10 has-text-centered">
				<h2>Rifas sorteadas! 🎉</h2>
				<p>Se você é o sortudo, você receberá instruções por e-mail.</p>
				<div class="columns is-centered">
					<div class="column is-5">
						<b-table
						:data="drawnData"
						:striped="true"
						:narrowed="true"
						:mobile-cards="false">
							<template slot-scope="props">
								<b-table-column field="number" label="Número">
									#{{ props.row.number }}
								</b-table-column>
								<b-table-column field="name" label="Nome">
									{{ props.row.owner.name }}
								</b-table-column>
							</template>
						</b-table>
					</div>
				</div>
			</div>
		</div>
		<div class="columns topInfo">
			<div class="column is-8">
				  <b-carousel
				  	:pause-info="false"
				  	:repeat="true"
				  	:interval="5000">
				      <b-carousel-item v-for="(image, index) in campaign.photos" :key="index">
				      	<div class="image">
				      		<img :src="image.url">
				      	</div>
				      </b-carousel-item>
				  </b-carousel>
			</div>
			<div class="column is-4">
				<div class="details">
					<div class="titleCard">
						<h1>{{ campaign.title }}</h1>
						<div class="levelInfo">
							<div class="calendar">
								<img src="~/assets/icons/calendar.svg">
								<div>
									Sorteio
									<span class="has-text-primary">{{ dateToFormat(campaign.draw_date) }}</span>
								</div>
							</div>
							<div class="price">
								<img src="~/assets/icons/cart.svg">
								<div>{{ campaign.raffle.price_cents | moneyFormat }}</div>
							</div>
						</div>
						<div v-if="campaign.videos.length > 0" class="video button" @click="isVideoModalActive = true">
							<img src="~/assets/icons/play.svg">
							Assista o vídeo
						</div>
						<div class="author">
							<div class="authorDetails">
								<img :src="campaign.publisher.avatar" alt="avatar" v-if="campaign.publisher.avatar">
								<img src="~/assets/imgs/avatar.jpg" alt="avatar" v-else>
								<div>
									{{ campaign.publisher.familiar_name }}  <br />
									{{ campaign.publisher.location }}
								</div>
							</div>
							<nuxt-link to="/suporte" class="support button">
								<img src="~/assets/icons/send.svg"> Suporte
							</nuxt-link>
						</div>
					</div>
					<div class="share">
						<div>
							Compartilhe em
						</div>
						<div class="socialLinks">
							<a target="_blank" :href="'https://www.facebook.com/sharer/sharer.php?u=https://rifaisso.com.br' + this.$route.path">
								<img src="~/assets/icons/fb-2.svg">
							</a>
							<a target="_blank" :href="'https://twitter.com/intent/tweet?ref_src=https://rifaisso.com.br&button_hashtag=RifaIsso%20https://rifaisso.com.br' +  this.$route.path">
								<img src="~/assets/icons/twitter-2.svg">
							</a>
							<a target="_blank" class="is-hidden-mobile" :href="'https://web.whatsapp.com/send?text=https://rifaisso.com.br' +  this.$route.path">
								<img src="~/assets/icons/whatsapp.svg">
							</a>
							<a target="_blank" class="is-hidden-tablet" :href="'whatsapp://send?text=https://rifaisso.com.br' +  this.$route.path">
								<img src="~/assets/icons/whatsapp.svg">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tabsInfo">
	    <b-tabs>
	        <b-tab-item label="Bilhetes">
	          <tickets
	           :campaign="campaign"
	           @selectionChange="ticketSelection($event)"
	          />
	        </b-tab-item>
	        <b-tab-item label="Objetivo">
	        	<div class="content objective">
		        	{{ campaign.purpose }}
		        </div>
	        </b-tab-item>
	        <b-tab-item label="Regras">
	        	<div class="content">
		        	Os ganhadores serão definidos com base no resultado do prêmio da
		        	<strong>Loteria Federal</strong> em <strong class="has-text-primary">{{ dateToFormat(campaign.draw_date) }}</strong>.
		        	<br>
		        	<br>
							Caso o número sorteado pela Loteria Federal não coincida com o bilhete equivalente e pago no app, um novo bilhete será sorteado automaticamente pelo RifaIsso até que coincida com um bilhete pago e haja um ganhador.
						</div>
	        </b-tab-item>
	        <b-tab-item label="Prêmios">
	        	<div class="content">
		        	<ol>
			        	<li v-for="prize in campaign.prizes" :key="prize.id">
			        		{{ prize.title }}
			        	</li>
			        </ol>
			      </div>
	        </b-tab-item>
	    </b-tabs>
		</div>

		<b-modal :active.sync="isVideoModalActive" :width="680" scroll="keep">
			<div class="container">
			  <b-carousel
					:pause-info="false"
					:repeat="true"
					:autoplay="false"
				>
		      <b-carousel-item v-for="(video, i) in campaign.videos" :key="i">
	          <div class="container video">
	          	<div class="embed">
		          	<iframe :src="videoToEmbed(video)" id="video" width="640" height="360" frameborder="0" allowscriptaccess="always" allow="fullscreen" allowfullscreen></iframe>
	          	</div>
	          </div>
		      </b-carousel-item>
			  </b-carousel>
			</div>
		</b-modal>

		<div
			:class="{active: showCart}"
			class="cart"
		>
			<div class="selected">
				{{ selectedTickets.length }}
				<span v-show="selectedTickets.length <= 1">
					bilhete selecionado.
				</span>
				<span v-show="selectedTickets.length > 1">
					bilhetes selecionados.
				</span>
			</div>
			<div class="total">
				<span>Total</span>
				<span>{{ total }}</span>
			</div>
			<div class="button checkout" @click="submit">
				Participar
			</div>
		</div>
	</div>
</template>

<script>
import Dinero from 'dinero.js'
import Tickets from '~/components/Tickets.vue'

export default {
	components: {
		Tickets
	},
	async asyncData({ params, $api }) {
		const response = await $api.campaigns.get(params.id)
		const campaign = response.data
		return {
			campaign
		}
	},
	data() {
		return {
			selectedTickets: [],
			isVideoModalActive: false
		}
	},
	filters: {
		moneyFormat(value) {
			return Dinero({ amount: value }).toFormat()
		}
	},
  methods: {
  	dateToFormat(value) {
  		return this.$moment(value).format('DD/MM/YYYY')
  	},
  	ticketSelection(tickets) {
  		this.selectedTickets = tickets
  		const campaignId = this.campaign.id
  	},
  	videoToEmbed(value) {
      if(value.includes('watch?v=')) {
        return value.replace('watch?v=', 'embed/') + '?rel=0&amp;showinfo=0&amp;modestbranding=1&amp'
      } else if(value.includes('//vimeo')) {
        value = value.replace('//vimeo', '//player.vimeo')
        value = value.replace('.com/', '.com/video/')
        return value + '?rel=0&amp;showinfo=0&amp;modestbranding=1&amp?title=0&byline=0&portrait=0'
      }
  	},
  	submit() {
  		const campaign = this.campaign
  		const tickets = this.selectedTickets
  		this.$store.dispatch('checkout/new', { campaign, tickets })
  		this.$router.push('/checkout')
  	}
  },
  computed: {
  	showCart() {
  		return !!this.selectedTickets.length
  	},
  	total() {
  		let count = this.selectedTickets.length
  		return Dinero({ amount: this.campaign.raffle.price_cents }).multiply(count).toFormat()
  	},
  	drawnData() {
  		return this.campaign.prizes.map(p => p.ticket)
  	}
  }
}
</script>

<style lang="scss" scoped>
.drawn {
	h2 {
		font-weight: bold;
		font-size: 32px;
		line-height: 39px;
		text-align: center;
		letter-spacing: 0.01em;
		color: #333333;
	}
	p {
		margin-top: 14px;
		margin-bottom: 14px;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		color: #858585;
	}
	.columns { margin-bottom: 24px; }
}
.container.video {
	padding: 20px;
	margin-top: unset;
	.embed {
		padding:56.25% 0 0 0;
		position:relative;
    max-width: 640px;
    max-height: 320px;
    margin-bottom: 42px;
	}
  iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
}
.content {
	min-height: 20vh;
	&.objective {
		white-space: pre-line;
	  margin-top: -1.5rem;
	  margin-bottom: 1.5rem;
	}
	ol { margin-top: unset; }
}
.cart {
	width: 100%;
	background: #ffffff;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px -2px 6px rgba(0, 0, 0, 0.04), 0px -10px 20px rgba(0, 0, 0, 0.04);
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px;
  border-top-right-radius: 80px;
  border-top-left-radius: 80px;
	transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
	transform: translateY(100%);
	&.active {
		transform: translateY(0%);
		z-index: 30;
	}
	.selected {
		color: #333333;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
	}
	.total {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #333333;
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		> span { position: relative; }
		> span:first-of-type::after {
			content:'';
			width: 80px;
			height: 1px;
			border: 1px dashed #E7E7E7;
			display: inline-block;
			position: relative;
			bottom: 4px;
			margin-left: 12px;
			margin-right: 12px;
		}
	}
	.button.checkout {
		margin-top: 24px;
		padding: 20px;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #FAFAFA;
		background: linear-gradient(33.28deg, #2955D9 9.06%, #6D4AFB 90.08%);
		border-radius: 20px;
		width: 180px;
		border: none;
    transition: all .1s ease-in-out;
    &:hover { color: #FAFAFA; transform: scale(1.05); }
	}
}
	.topInfo {
		margin-bottom: 100px;
		.image {
			width: 100%;
			height: 467px;
			overflow: hidden;
			img {
				position: absolute;
				width: auto;
				height: 100%;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				bottom: 0;
			}
		}
		.details {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
			.titleCard {
				box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
				padding: 32px 24px;
				h1 {
					font-weight: 500;
					font-size: 20px;
					line-height: 140.02%;
					color: #333333;
				}
				.levelInfo {
					margin-top: 32px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					.calendar {
						display: flex;
						align-items: center;
						img { margin-right: 8px; }
						font-weight: normal;
						font-size: 18px;
						line-height: 22px;
						color: #333333;
					}
					.price {
						display: flex;
						align-items: center;
						img { margin-right: 8px; }
						font-weight: 500;
						font-size: 18px;
						line-height: 22px;
						color: #333333;
					}
				}
				.author {
					height: 106px;
					background-color: #FAFAFA;
					margin-top: 32px;
					margin-bottom: -32px;
					margin-left: -24px;
					margin-right: -24px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 32px 24px;
					.authorDetails {
						img { width: 40px; border-radius: 50%; margin-right: 12px; }
						display: flex;
						align-items: center;
						font-size: 14px;
						line-height: 136.99%;
						color: #858585;
						max-width: 168px;
						> div {
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
					}
					.support.button {
						border: 1px solid #333333;
						border-radius: 20px;
						img { margin-right: 8px; }
						&:hover { border-color: #2955D9; }
					}
				}
				.video.button {
					margin-top: 32px;
					border: 1px solid #ADADAD;
					border-radius: 20px;
					padding: 8px 16px;
					font-size: 12px;
					line-height: 12px;
					img { margin-right: 8px; }
					&:hover { border-color: #2955D9; }
				}
			}
			.share {
				display: flex;
				flex-direction: column;
				align-items: center;
				font-size: 14px;
				line-height: 17px;
				color: #858585;
				div:first-of-type { margin-bottom: 12px; }
				div:last-of-type {
					display: flex;
					justify-content: space-between;
					width: 156px;
				}
			}
		}
	}
	@media screen and (max-width: 1215px) {
		.container.video {
			margin-top: 42px;
		}
		.content {
			min-height: 30vh;
		}
		.container { margin-top: -42px; }
		.tabsInfo { padding: 20px; }
		.topInfo {
			margin-bottom: 12px;
			.image { height: 460px; }
			.column { padding-top: unset; padding-bottom: unset; }
			.details {
				.titleCard {
					h1 {
						font-size: 18px;
					}
					.levelInfo {
						.calendar {
							font-size: 16px;
							img { width: 20px; }
						}
						.price {
							flex-shrink: 0;
							font-size: 16px;
							img { width: 20px; }
						}
					}
				}
			}
			.share { margin-top: 32px; }
		}
	}
	@media screen and (max-width: 460px) {
		.topInfo {
			.image { height: 250px; }
		}
		.topInfo > .column > .details > .titleCard {
			.levelInfo {
				flex-direction: column;
				align-items: unset;
				.calendar {
					margin-bottom: 24px;
				}
			}
		}
	}
</style>
