<template>
	<div class="container">
		<h1>Rifas</h1>
		<div class="searchBar">
			<div class="control">
				<input
					v-model="searchQuery"
					@keyup.enter="search"
					type="text"
					class="input"
					placeholder="Busque uma rifa..."
				>
			</div>
			<div class="control">
				<div class="select">
				  <select v-model="filter">
				    <option value="featured_categories">Mostrar "Mais populares"</option>
				    <option value="most_recent">Mostrar "Mais recentes"</option>
				  </select>
				</div>
			</div>
		</div>
		<div class="category" v-for="category in categories">
			<div>
				<h2>{{ category.name | category }} ↘</h2>
				<div v-if="$route.query.category">
					<a href="/campaigns"><- Voltar</a>
				</div>
				<div v-else>
					<a :href="`/campaigns?category=${category.name}`">Ver todas -></a>
				</div>
			</div>
			<div class="columns is-multiline is-variable is-4 raffles">
				<div class="column is-4" v-for="campaign in category.campaigns" :key="campaign.id">
					<raffle-card :campaign="campaign" />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import RaffleCard from '~/components/RaffleCard.vue'
	export default {
		components: {
			RaffleCard
		},
		async asyncData({ $api, query }) {
			let requestParams
			if(query.category) {
				const category = query.category
				requestParams = { category }
			} else {
				requestParams = { featured_categories: true }
			}
			const response = await $api.campaigns.getAll(requestParams)
			const campaigns = response.data
			return {
				campaigns
			}
		},
		data() {
			return {
				filter: 'featured_categories',
				searchQuery: ''
			}
		},
		filters: {
			category(value) {
				const tr = {
					vehicles: 'Veículos',
					electronics: 'Eletrônicos',
					accessories: 'Acessórios',
					cash: 'Prêmios em dinheiro',
					travels: 'Viagens',
					others: 'Outros'
				}
				return tr[value]
			}
		},
		methods: {
			search() {
				this.$router.push(`/campaigns/search?q=${this.searchQuery}`)
			}
		},
		computed: {
			categories() {
				let categories = this.campaigns.map(c => c.category)
				categories = Array.from(new Set(categories))
				return categories.map(category => ({
					name: category,
					campaigns: this.campaigns.filter(c => c.category === category)
				}))
			}
		},
		watch: {
			async filter(value) {
				const requestParams = { [value]: true }
				if(this.$route.query.category) {
					requestParams.category = this.$route.query.category
				}
				const response = await this.$api.campaigns.getAll(requestParams)
				this.campaigns = response.data
			}
		}
	}
</script>

<style lang="scss" scoped>
	h1 {
		font-weight: bold;
		font-size: 32px;
		line-height: 39px;
		letter-spacing: 0.01em;
		color: #333333;
	}
	.searchBar {
		margin-top: 42px;
		input { width: 100%; max-width: 620px; padding-left: 64px; }
		select { width: 100%; max-width: 355px; padding-left: 64px; color: #ADADAD; }
		.select:not(:hover)::after { border-color: #000000; }
		::placeholder { color: #ADADAD; font-size: 18px; }
		display: flex;
    .control {
    	width: 100%;
      &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        width: 22px;
        height: 55px;
        background-size: 24px;
        margin-left: 20px;
        background-repeat: no-repeat;
        background-position: center;
      }
      &:first-of-type {
      	margin-right: 12px;
      	&::before {
      		background-image: url('~assets/icons/search.svg');
      	}
      }
      &:last-of-type {
      	&::before {
      		background-image: url('~assets/icons/filter.svg');
      	}
      }
    }
	}
	.category {
		.column {
			height: 447px;
			margin-bottom: 18px;
		}
		h2 {
			font-weight: bold;
			font-size: 24px;
			line-height: 32px;
			letter-spacing: 0.01em;
			color: #333333;
		}
		> div:first-of-type {
			margin-top: 42px;
			margin-bottom: 24px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	@media screen and (max-width: 769px) {
		.searchBar {
			flex-direction: column;
			.control:first-of-type { margin-bottom: 24px; }
			.select { width: 100%; }
			select { max-width: 100%; }
		}
		.container {
			padding: 20px;
		}
		h1 {
			font-size: 24px;
			line-height: 24px;
		}
		.category {
			h2 {
				font-size: 20px;
				line-height: 20px;
			}
		}
	}
</style>
