<template>
  <div class="container">
    <h1>Rifas</h1>
    <div class="searchBar">
      <div class="control">
        <input
          v-model="searchQuery"
          @keyup.enter="search"
          type="text"
          class="input"
          placeholder="Busque uma rifa..."
        >
      </div>
    </div>
    <div class="campaigns">
      <div>
        <h2>Resultado ↘</h2>
        <div>
          <nuxt-link to="/campaigns"><- Voltar</nuxt-link>
        </div>
      </div>
      <div class="columns is-multiline is-variable is-4 raffles">
        <div class="column is-4" v-for="campaign in campaigns" :key="campaign.id">
          <raffle-card :campaign="campaign" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import RaffleCard from '~/components/RaffleCard.vue'
  export default {
    components: {
      RaffleCard
    },
    validate({ query }) {
      return query.q
    },
    data() {
      return {
        campaigns: [],
        searchQuery: this.$route.query.q
      }
    },
    async fetch() {
      const response = await this.$api.campaigns.getAll({ q: this.searchQuery })
      this.campaigns = response.data
      console.log(this.campaigns)
    },
    methods: {
      search() {
        this.$fetch()
      }
    }
  }
</script>

<style lang="scss" scoped>
  h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.01em;
    color: #333333;
  }
  .searchBar {
    margin-top: 42px;
    input { width: 100%; max-width: 620px; padding-left: 64px; }
    select { width: 100%; max-width: 355px; padding-left: 64px; color: #ADADAD; }
    .select:not(:hover)::after { border-color: #000000; }
    ::placeholder { color: #ADADAD; font-size: 18px; }
    display: flex;
    .control {
      width: 100%;
      &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        width: 22px;
        height: 55px;
        background-size: 24px;
        margin-left: 20px;
        background-repeat: no-repeat;
        background-position: center;
      }
      &:first-of-type {
        margin-right: 12px;
        &::before {
          background-image: url('~assets/icons/search.svg');
        }
      }
    }
  }
  .campaigns {
    .column {
      height: 447px;
      margin-bottom: 18px;
    }
    h2 {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.01em;
      color: #333333;
    }
    > div:first-of-type {
      margin-top: 42px;
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  @media screen and (max-width: 769px) {
    .searchBar {
      flex-direction: column;
      .control:first-of-type { margin-bottom: 24px; }
      .select { width: 100%; }
      select { max-width: 100%; }
    }
    .container {
      padding: 20px;
    }
    h1 {
      font-size: 24px;
      line-height: 24px;
    }
    .category {
      h2 {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
</style>
