<template>
	<section class="section">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-8">
					<nuxt-link to="/blog" class="back"><- Voltar</nuxt-link>
					<div class="banner" :style="`background-image: url('` + article.photo + `');`"></div>
					<div class="titleBar">
						<h1>{{ article.title }}</h1>
						<span class="date">{{ dateToFormat(article.created_at) }}</span>
					</div>
					<hr />
					<div class="content" v-html="article.text">
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	export default {
		async asyncData({ params, $api }) {
			const response = await $api.articles.get(params.id)
			const article = response.data
			return {
				article
			}
		},
		methods: {
			dateToFormat(value) {
				return this.$moment(value).format('DD [de] MMMM [de] YYYY')
			}
		}
	}
</script>

<style lang="scss" scoped>
	.section {
		padding-top: unset;
	}
	.banner {
		margin-top: 32px;
		margin-bottom: 24px;
		width: 100%;
		height: 420px;
		background-size: cover;
		background-position: center;
		@media (max-width: 769px) {
			height: 320px;
		}
	}
	.titleBar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 769px) {
			flex-direction: column;
			>:first-child {
				display: block;
				margin-bottom: 1rem;
			}
		}
	}
	.date {
		color: #858585;
		font-size: 14px;
		flex: none;
	}
	h1 {
		font-weight: bold;
		font-size: 32px;
		line-height: 39px;
		letter-spacing: 0.01em;
		color: #333333;
		margin-right: 20px;
	}
	.content {
		color: #858585;;
	}
</style>