<template>
	<section class="section">
		<div class="container">
			<div class="sameLevel">
				<h1>Blog</h1>
				<nuxt-link
					v-if="userIsAdmin"
					to="/admin/articles/new"
					class="publish button"
				>
					Publicar artigo ->
				</nuxt-link>
			</div>
			<div class="columns is-multiline">
				<div class="column is-4" v-for="article in articles" :key="article.id">
					<article-card :article="article" v-on:delete="onArticleDelete" />
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	import ArticleCard from '~/components/ArticleCard.vue'

	export default {
		components: {
			ArticleCard
		},
		async asyncData({ $api }) {
			const response = await $api.articles.getAll()
			const articles = response.data
			return {
				articles
			}
		},
		methods: {
			onArticleDelete(article) {
				let index = this.articles.indexOf(article)
				this.articles.splice(index, 1)
			}
		},
		computed: {
			userIsAdmin() {
				return this.$auth.loggedIn && this.$auth.user.admin
			}
		}
	}
</script>

<style lang="scss" scoped>
	.section {
		padding-top: unset;
	}
	h1 {
		font-weight: bold;
		font-size: 32px;
		line-height: 32px;
		letter-spacing: 0.01em;
		color: #333333;
	}
	.sameLevel {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 42px;
	}
	.publish {
	  display: inline-flex;
	  margin-left: 32px;
	  font-weight: 500;
	  font-size: 16px;
	  line-height: 19px;
	  color: #333333;
	  border: 2px solid #6D4AFB;
	  border-radius: 20px;
	  height: 42px;
	  width: 222px;
	  align-items: center;
	  &:hover {
	      background-color: #6D4AFB;
	      color: #fafafa;
	  }
	}
</style>