<template>
	<input
		v-model="inputValue"
		@focus="onFocus"
		@input="onInput"
		@blur="onBlur"
		:placeholder="placeholder"
		type="tel"
	>	
</template>

<script>
import Dinero from 'dinero.js'
export default {
	name: 'CurrencyInput',
	props: {
		value: {
			type: Number,
			default: null
		},
		min: {
			type: Number,
			default: null
		},
		max: {
			type: Number,
			default: null
		},
		placeholder: {
			type: String
		}
	},
	data() {
		return {
			inputValue: '',
			amount: this.value
		}
	},
	mounted() {
		this.inputValue = this.format
	},
	computed: {
		format() {
			if(this.amount == null) return ''
			return Dinero({ amount: this.amount }).toFormat()
		},
		unformat() {
			if(this.amount == null) return ''
			const value = this.amount / 100
			return value.toString().replace('.', ',')
		}
	},
	methods: {
		onFocus() {
			this.inputValue = this.unformat
		},
		onInput() {
			const sanitized = this.inputValue.replace(/[^\d|,]/g, '')
			let amount
			if(sanitized.length === 0) {
				amount = null
			} else {
				const value = parseFloat(sanitized.replace(',', '.'))
				amount = Math.round(100 * value)
				if(this.min) {
					amount = Math.max(this.min, amount)
				}
				if(this.max) {
					amount = Math.min(this.max, amount)
				}
			}
			this.$emit('input', amount)
		},
		onBlur() {
			this.inputValue = this.format
		}
	},
	watch: {
		value(newValue) {
			this.amount = newValue
		}
	}
}	
</script>


