<template>
	<b-datepicker
		v-model="date"
		:placeholder="placeholder"
    :month-names="months"
    :day-names="daynames"
    :date-formatter="dateformatter"
    :unselectable-days-of-week="unselectableDaysOfWeek"
    :min-date="minDate"
	>
	</b-datepicker>
</template>

<script>
export default {
	props: {
		placeholder: {
			type: String,
			default: ''
		},
		value: {
			default: null
		},
		unselectableDaysOfWeek: {
			type: Array,
			required: false
		},
		minDate: {
			type: Date,
			required: false
		}
	},
	data() {
		return {
			months: [
				"Janeiro",
				"Fevereiro",
				"Março",
				"Abril",
				"Maio",
				"Junho",
				"Julho",
				"Agosto",
				"Setembro",
				"Outubro",
				"Novembro",
				"Dezembro"
			],
			daynames: [
				"Dom",
				"Seg",
				"Ter",
				"Qua",
				"Qui",
				"Sex",
				"Sab"
			],
			dateformatter: (date) => date.toLocaleDateString('pt-BR')
		}
	},
	computed: {
		date: {
			get() {
				let value = this.value
				if(!(value instanceof Date)) {
					value = value !== null ? new Date(value) : new Date()
				}
				return value
			},
			set(newValue) {
				this.$emit('input', newValue)
			}
		}
	}
}
</script>