<template>
	<div class="container">
		<div class="columns">
			<div class="column is-half">
				<h1>Sobre a RIFAISSO!</h1>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
	h1 {
		font-weight: bold;
		font-size: 32px;
		line-height: 39px;
		letter-spacing: 0.01em;
		color: #333333;
	}
</style>