<template>
	<div class="container">
	  <b-carousel
			:pause-info="false"
			:interval="5000"
			:repeat="true">
      <b-carousel-item v-for="(carousel, i) in carousels" :key="i">
        <section class="slide" :style="`background-image: url('` + require(`~/assets/imgs/slide${i + 1}.jpg`) + `');`">
          <div class="slideCTA">
            <h1>{{carousel.title}}</h1>
            <p class="subtitle">{{ carousel.subtitle }}</p>
            <nuxt-link to="/promoter" class="button cta">
            	Comece agora ->
            </nuxt-link>
          </div>
        </section>
      </b-carousel-item>
	  </b-carousel>

	  <div class="container">
	  	<div class="steps">
	  		<div class="item">
	  			<img src="~/assets/imgs/step1.svg">
	  			<div class="content">
	  				<h3>Escolha um sorteio</h3>
	  				<p>
	  					Muito fácil participar, comece
							escolhendo um sorteio ativo.
	  				</p>
	  			</div>
	  		</div>
	  		<div class="item">
	  			<img src="~/assets/imgs/step2.svg">
	  			<div class="content">
	  				<h3>Selecione os números</h3>
	  				<p>
							Escolha quantos quiser! Quanto
							mais, mais chances de ganhar.
	  				</p>
	  			</div>
	  		</div>
	  		<div class="item">
	  			<img src="~/assets/imgs/step3.svg">
	  			<div class="content">
	  				<h3>Faça o pagamento</h3>
	  				<p>
							Escolha uma das formas de
							pagamento disponíveis.
	  				</p>
	  			</div>
	  		</div>
	  		<div class="item">
	  			<img src="~/assets/imgs/step4.svg">
	  			<div class="content">
	  				<h3>Aguarde o sorteio</h3>
	  				<p>
							Agora é aguardar o sorteio pela
							Loteria Federal e boa sorte!
	  				</p>
	  			</div>
	  		</div>
	  	</div>
			<div class="highlightTitle">
				<h1>Rifas em destaque</h1>
			</div>

			<div class="columns is-multiline is-variable is-4 raffles">
				<div class="column is-4" v-for="campaign in campaigns" :key="campaign.id">
					<raffle-card :campaign="campaign"/>
				</div>
			</div>
		</div>

		<div class="columns benefits">
			<div class="column is-half">
				<h2>Vantagens RIFAISSO!</h2>
				<ul>
					<li>Crie quantas rifas quiser, totalmente grátis para qualquer lugar do Brasil</li>
					<li>Segurança para quem cria e para quem compra</li>
					<li>Sorteios realizados pela Loteria Federal</li>
					<li>Sistema de arrecadação de fundos totalmente transparente</li>
					<li>Painel de controle para você gerenciar suas campanhas</li>
				</ul>
			</div>
			<div class="column is-half">
				<img src="~/assets/imgs/vantagens.jpg" alt="Vantagens RifaIsso!">
			</div>
		</div>

	</div>
</template>

<script>
import RaffleCard from '~/components/RaffleCard.vue'

export default {
	layout: 'default',
	components: {
		RaffleCard
	},
	async asyncData({ $api }) {
		const response = await $api.campaigns.getAll()
		const campaigns = response.data
		return {
			campaigns
		}
	},
  data() {
      return {
          carousels: [
              { title: 'Um jeito simples e fácil de organizar suas rifas', subtitle: 'O RIFAISSO! permite gerenciar rifas de forma prática, remota e online, tudo aqui no nosso site.' },
              { title: 'Organize suas rifas com o RIFAISSO! para ajudar a sua causa', subtitle: 'Impulsione as arrecadações de fundos para a Instituição sem fins lucrativos de sua escolha' },
              { title: 'Use o RIFAISSO! na sua empresa', subtitle: 'Fidelize seus clientes realizando rifas de prêmios incríveis.' },
              { title: 'Use o RIFAISSO! em um evento', subtitle: 'Faça uma rifa com o pessoal da empresa para premiar seus funcionários numa confraternização ou para ajudar a organizar a sua festa de formatura.' },
              { title: 'Use o RIFAISSO! para financiar seus projetos', subtitle: 'Arrecade o dinheiro que precisa para alcançar seus objetivos e dar vida às suas ideias.' }
          ]
      }
  }
}
</script>

<style lang="scss" scoped>
.benefits {
	margin-top: 96px;
	margin-bottom: -104px;
	@media(min-width: 769px) {
		.column:first-child {
			margin-top: 32px;
		}
	}
	h2 {
		font-weight: bold;
		font-size: 32px;
		line-height: 39px;
		letter-spacing: 0.01em;
		color: #333333;
		margin-bottom: 32px;
	}
	ul > li {
		position: relative;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.01em;
		color: #333333;
		padding-left: 32px;
		&::before {
			content: '';
			width: 24px;
			height: 24px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			background: url('~assets/icons/check-circle.svg');
		}
	}
	li + li { margin-top: 24px; }
}
.raffles {
	margin-top: 42px;
	.column {
		height: 447px;
		@media(max-width: 769px) {
			height: auto;
		}
		margin-bottom: 18px;
	}
}

.highlightTitle {
	margin-top: 100px;
}

h1 {
	font-weight: bold;
	font-size: 32px;
	line-height: 39px;
	letter-spacing: 0.01em;
	color: #333333;
}

.slide {
	height: 512px;
	padding: 84px;
	background-size: cover;
	display: flex;
	align-items: center;
	.slideCTA {
		h1 {
			max-width: 622px;
			font-weight: 900;
			line-height: 54px;
			font-size: 46px;
			letter-spacing: 0.01em;
			color: #fafafa;
		}
		p.subtitle {
			margin-top: 1rem;
			font-weight: normal;
			font-size: 20px;
			line-height: 28px;
			letter-spacing: 0.01em;
			color: rgba(250, 250, 250, 0.75);
			max-width: 580px;
			@media (max-width: 769px) {
				display: none;
			}
		}
		> a {
			margin-top: 32px;
			color: #333333;
			border: none;
			padding: 16px;
			font-size: 22px;
			line-height: 22px;
			font-weight: 400;
			border-radius: 20px;
			transition: all .1s linear;
			&:hover { transform: scale(1.02); }
		}
	}
}

.steps {
	@media (max-width: 769px) {
		display: none;
	}
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.item {
		display: flex;
		flex-direction: column;
		.content {
			margin-top: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			h3 {
				font-style: normal;
				font-weight: 600;
				font-size: 18px;
				line-height: 18px;
				letter-spacing: 0.01em;
				color: #333333;
			}
			p {
				font-weight: normal;
				font-size: 14px;
				line-height: 22px;
				text-align: center;
				letter-spacing: 0.01em;
				color: rgba(51, 51, 51, 0.65);
				max-width: 214px;
			}
		}
	}
}

@media screen and (max-width: 769px) {
	.container-fluid {
		margin-top: -41px;
	}
	.container { padding: 0 20px; }
	.carousel {
		margin-top: -22px;
	}
	.highlightTitle { margin-top: 62px; }
	.raffles { margin-top: 24px; }
	h1 {
		font-weight: bold;
		font-size: 24px;
		line-height: 24px;
		letter-spacing: 0.01em;
		color: #333333;
	}
	.slide {
		height: calc(100vh/2.5);
		padding: 20px;
		background-position: right 40% bottom 100%;
		&.n3 { background-position: right 60% bottom 100%; }
		.slideCTA {
			h1 {
				font-size: 24px;
				line-height: 139.88%;
				max-width: 250px;
			}
		> a {
			margin-top: 24px;
			padding: 12px;
			font-size: 12px;
			line-height: 12px;
			font-weight: 400;
			&:hover { transform: unset; }
		}
		}
	}
}
</style>


 