<template>
	<div class="container">
		<div class="columns">
			<div class="column is-5">
        <b-notification
        	v-if="campaignNotUpdatable"
          type="is-info"
          aria-close-label="Close notification"
          has-icon
        >
          <strong class="is-size-5">Atualização de campanha</strong>
          <p class="has-text-white">
          	Esta campanha possui rifas vendidas. Para realizar alterações nas informações da
          	campanha, entre em contato com o nosso suporte.
          </p>
        </b-notification>
				<h1>Fale conosco</h1>
				<br>
				<Contact />
			</div>
		</div>
	</div>
</template>

<script>
	import Contact from '~/components/Contact.vue'
	export default {
		components: {
			Contact
		},
		asyncData({ query }) {
			return {
				campaignNotUpdatable: query.campaign_not_updatable === 'true'
			}
		}
	}
</script>
