<template>
	<div>
		<h1>Teste</h1>
	</div>
</template>

<script>
import Campaign from '~/model/campaign'
export default {
	data() {
		const campaign = new Campaign()
		campaign.buildRaffle({
			quantity: null,
			price_cents: null
		})
		return {
			campaign
		}
	},
	mounted() {
		console.log(this.campaign.raffle)
	}
}
</script>
