<span style="font-size: 14px; color: #333333">
<h2 style="text-align: inherit; font-family: inherit">Pedido recebido</h2>
<div style="font-family: inherit"><strong>Pedido de número:</strong> #<%= @order.number %></div>
<div style="font-family: inherit"><strong>Status: </strong>Processando</div>
<div style="font-family: inherit"><br></div>
<div style="font-family: inherit">Obrigado pela compra, <%= @order.user.name.first %>.</div>
<div style="font-family: inherit">Você receberá mais informações por e-mail a cada mudança de status de seu pedido.</div>
<div style="font-family: inherit">Para mais detalhes, acesse sua conta no RIFAISSO!</div>
<div style="font-family: inherit"><br></div>
<div style="font-family: inherit"><strong>Não tem uma conta cadastrada?</strong></div>
<div style="font-family: inherit">Basta criar uma conta com o endereço de e-mail utilizado neste pedido.</div>
        </span>