<span style="font-size: 14px; color: #333333">
<h2 style="text-align: inherit; font-family: inherit">Pagamento recusado</h2>
<div style="font-family: inherit"><strong>Pedido de número:</strong> #<%= @order.number %></div>
<div style="font-family: inherit"><strong>Status: </strong>Recusado</div>
<div style="font-family: inherit"><br></div>
<div style="font-family: inherit"><%= @order.user.name.first %>, infelizmente seu pagamento foi recusado. Confira os dados inseridos no checkout e tente novamente. Obrigado!</div>
</span>