<span style="font-size: 14px; color: #333333">
<h2 style="text-align: inherit; font-family: inherit">Pagamento estornado</h2>
<div style="font-family: inherit"><strong>Pedido de número:</strong> #<%= @order.number %></div>
<div style="font-family: inherit"><strong>Status: </strong>Reembolsado</div>
<div style="font-family: inherit"><br></div>
<div style="font-family: inherit"><%= @order.user.name.first %>, aguarde até 4 dias úteis e confira o estorno em sua fatura.</div>
</span>