<template>
	<div>
		<div class="container">
      <div class="first">
        <div>
    			<h1>Campanhas</h1>
          <nuxt-link to="/promoter/campaigns/new" class="publish button">Publicar rifa -></nuxt-link>
        </div>
        <div class="balance">
          <h3>Saldo disponível ↘</h3>
          <div>
            <div class="value" :class="{ active: seeBalance }">
              {{ balance | moneyFormat }}
            </div>
            <a class="seeBalance" @click="seeBalance = !seeBalance">
              <img src="~/assets/icons/eye.svg" v-show="!seeBalance">
              <img src="~/assets/icons/eye-off.svg" v-show="seeBalance">
            </a>
            <a class="withdraw button" @click="validateWithdrawl()">
              Solicitar saque
            </a>
          </div>
        </div>
      </div>

      <b-modal
        :active.sync="isModalActive"
        has-modal-card
        :destoy-on-hide="false"
        aria-role="dialog"
        aria-modal
        :can-cancel="['escape']">

          <transfers-form @success="onTransferSuccess" :balance="balance" />
      </b-modal>

        <div class="dash">
          <h3>Últimos 28 dias ↘</h3>
          <div class="dashData">
            <div class="item">
              <img src="~/assets/icons/zap-dash.svg">
              <span>
                <strong>{{ lastMonthActive }} campanhas</strong> ativas
              </span>
            </div>
            <div class="item">
              <img src="~/assets/icons/calendar-dash.svg">
              <span v-if="lastMonthDraws === 0">
                <strong>Nenhum sorteio</strong> este mês
              </span>
              <span v-else>
                <strong>{{ lastMonthDraws }} sorteios</strong> este mês
              </span>
            </div>
            <div class="item">
              <img src="~/assets/icons/cart-dash.svg">
              <span>
                <strong>{{ lastMonthTickets }} rifas</strong> vendidas
              </span>
            </div>
            <div class="item">
              <img src="~/assets/icons/money-dash.svg">
              <span>
                <strong>{{ lastMonthRevenue | moneyFormat }}</strong> arrecadados
              </span>
            </div>
          </div>
        </div>

        <div class="campaigns finished" v-if="waitingReceiptCampaigns.length > 0">
          <h3>Sorteios concluídos ↘</h3>
          <campaign-table :campaigns="waitingReceiptCampaigns" waiting-receipt />
        </div>

        <div class="campaigns">
          <h3>Minhas campanhas ↘</h3>
          <b-tabs v-model="activeTab">
              <b-tab-item label="Ativas">
                <campaign-table :campaigns="activeCampaigns" @delete="onCampaignDelete" />
              </b-tab-item>

              <b-tab-item label="Histórico">
                <campaign-table :campaigns="finishedCampaigns" finished  />
              </b-tab-item>
          </b-tabs>
        </div>
		</div>
	</div>
</template>

<script>
import CampaignTable from '~/components/CampaignTable.vue'
import TransfersForm from '~/components/TransfersForm.vue'
import Dinero from 'dinero.js'
export default {
  components: {
    CampaignTable,
    TransfersForm
  },
  middleware: 'auth',
  async asyncData({ $api, $moment }) {
    let response = await $api.campaigns.getAllPromoter()
    const campaigns = response.data
    const today = $moment().format('DD/MM/YYYY')
    const startDate = $moment().subtract(28, 'days').format('DD/MM/YYYY')
    response = await $api.orders.getAllPromoter({
      created_at_after: startDate, created_at_before: today
    })
    const lastMonthOrders = response.data
    response = await $api.finance.get()
    const finance = response.data
    return {
      lastMonthOrders,
      campaigns,
      finance
    }
  },
  data() {
    return {
      activeTab: 0,
      seeBalance: false,
      isModalActive: false,
    }
  },
  filters: {
    moneyFormat(value) {
      return Dinero({ amount: value }).toFormat()
    }
  },
  methods: {
    validateWithdrawl() {
      if(this.balance >= 1000) {
        if(this.hasBankAccount) {
          this.isModalActive = true
        } else {
          this.$router.push('/user?tab=bank')
          this.$buefy.toast.open({
            duration: 5000,
            message: 'Preencha seus dados bancários',
            type: 'is-danger' })
        }
      } else {
        this.$buefy.toast.open({
          duration: 5000,
          message: 'Saldo insuficiente',
          type: 'is-danger' })
      }
    },
    onCampaignDelete(campaign) {
      let index = this.campaigns.indexOf(campaign)
      this.campaigns.splice(index, 1)
    },
    async onTransferSuccess() {
      const response = await this.$api.finance.get()
      this.finance = response.data
      this.isModalActive = false
      this.$buefy.toast.open({
        duration: 5000,
        message: 'Transferência solicitada',
        type: 'is-success'
      })
    }
  },
  computed: {
    activeCampaigns() {
      return this.campaigns.filter(c => c.status === 'active')
    },
    waitingReceiptCampaigns() {
      return this.campaigns.filter(c => c.status === 'waiting_receipt')
    },
    finishedCampaigns() {
      return this.campaigns.filter(c => c.status === 'finished' || c.status === 'cancelled')
    },
    lastMonthActive() {
      const startDate = this.$moment().subtract(28, 'days')
      const today = this.$moment()
      const campaigns = this.campaigns.filter(c => {
        return c.status == 'active' || c.status === 'waiting_receipt' ||
               (c.status === 'finished' && this.$moment(c.draw_date).isBetween(startDate, today))
      })

      return campaigns.length
    },
    balance() {
      return this.finance.available_balance_cents
    },
    hasBankAccount() {
      return this.finance.bank_account_id !== null
    },
    lastMonthDraws() {
      const startDate = this.$moment().subtract(28, 'days')
      const today = this.$moment()
      const campaigns = this.campaigns.filter(c => {
        return this.$moment(c.draw_date).isBetween(startDate, today)
      })

      return campaigns.length
    },
    lastMonthTickets() {
      const ordersTickets = this.lastMonthOrders.map(o => o.tickets_quantity)
      const total = ordersTickets.reduce((acc, current) => acc + current, 0)
      return total
    },
    lastMonthRevenue() {
      const revenues = this.lastMonthOrders.map(o => o.subtotal_cents)
      return revenues.reduce((acc, current) => acc + current, 0)
    }
  }
}
</script>

<style lang="scss" scoped>
.first {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.campaigns {
  margin-top: 62px;
  &.finished h3 { margin-bottom: 32px; }
}

.balance {
  > div {
    margin-top: 16px;
    display: flex;
    align-items: center;
  }
  .value {
    color: #333333;
    filter: blur(7px);
    &.active { filter: unset; }
  }
  .seeBalance {
    display: flex;
    margin-left: 10px;
    width: 20px;
  }
  .withdraw {
    display: inline-flex;
    margin-left: 30px;
    border: 2px solid #E1E1E1;
    border-radius: 20px;
  }
}
.dash {
  margin-top: 42px;
  .dashData {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    padding: 42px;
    width: 100%;
    height: 212px;
    background: #fafafa;
    border-radius: 2px;
    .item {
      > img { margin-bottom: 20px; }
      text-align: center;
      max-width: 148px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.publish {
  display: inline-flex;
  margin-left: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  border: 2px solid #6D4AFB;
  border-radius: 20px;
  height: 42px;
  width: 222px;
  align-items: center;
  &:hover {
      background-color: #6D4AFB;
      color: #fafafa;
  }
}

h1 {
  display: inline-block;
	font-weight: bold;
	font-size: 32px;
	line-height: 39px;
	letter-spacing: 0.01em;
	color: #333333;
}

h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

@media screen and (max-width: 769px) {
  .dash {
    .dashData {
      flex-direction: column;
      height: auto;
      .item:not(:first-of-type) { margin-top: 42px; }
    }
  }
  .first {
    flex-direction: column;
  }
  .publish {
    margin-left: 20px;
    height: unset;
    width: unset;
    padding: 8px 16px;
    &:hover {
        background-color: unset;
        color: unset;
    }
  }
  .balance {
    margin-top: 42px;
    .withdraw {
      font-size: 14px;
    }
  }
  .container {
    padding: 20px;
  }
  h1 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 16px;
    line-height: 22px;
  }
}
</style>