<h2 style="text-align: inherit; font-family: inherit">Contato website</h2>
<div style="font-family: inherit"><strong>Nome:</strong> <%= @contact.name %></div>
<div style="font-family: inherit"><strong>Email:</strong> <%= @contact.email %></div>
<div style="font-family: inherit"><%= @contact.message %></div>
