<template>
	<section class="section">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-8">
					<h2>Confirmar recebimento</h2>
					<p>
						Caso você tenha participado de uma rifa e foi sorteado, utilize o formulário abaixo para encontrar e confirmar o recebimento de seu prêmio. Recomendamos que só confirme caso realmente esteja com o prêmio em mãos.
					</p>
					<form @submit.prevent="onSubmit">
						<div class="field">
						  <label class="label">CPF</label>
							<input v-model="document_number" type="text" class="input">
						</div>
						<div class="field">
							<button
								type="submit"
								class="button is-primary"
								:class="{'is-loading': loading}"
							>
								Procurar
							</button>
						</div>
					</form>
					<div
						style="width: 380px; margin-top: 20px;"
						class="columns is-multiline"
						v-for="prize in prizes"
					>
						<div class="column is-4">{{ prize.id }}</div>
						<div class="column is-4">{{ prize.title }}</div>
						<div class="column is-4">
							<button
								@click="onPrizeClick(prize.id)"
								class="button"
							>
								Confirmar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<style lang="scss" scoped>
	h2 {
		font-weight: bold;
		font-size: 32px;
		line-height: 39px;
		letter-spacing: 0.01em;
		color: #333333;
	}
	p {
		margin-top: 12px;
		margin-bottom: 24px;
		font-size: 14px;
	}
	input {
		max-width: 400px;
	}
</style>

<script>
export default {
	data() {
		return {
			loading: false,
			document_number: '',
			prizes: []
		}
	},
	methods: {
		async onSubmit() {
			try {
				this.loading = true
				const prizes = await this.$axios.$get(`/prizes?document_number=${this.document_number}`)
				if(prizes.length === 0) {
					this.$buefy.toast.open({
						duration: 5000,
						message: 'Nenhum prêmio encontrado'
					})
				} else {
					this.prizes = prizes
				}
			} catch(err) {
				console.error(err.toString())
				const response = err.response
				const message = response.data.error.title
				this.$buefy.toast.open({
					duration: 5000,
					message,
					type: 'is-danger'
				})
			} finally {
				this.loading = false
			}
		},
		async onPrizeClick(id) {
			try {
				this.$axios.$post(`/prize_receipt/${id}`)
			} catch(err) {
				console.error(err.toString())
			}
		}
	}
}
</script>
