<template>
	<div class="container">
		<h1>Confirmar pedido</h1>
		<div class="columns">
			<div class="column is-7">
				<checkout-form :campaign="campaign" :tickets="tickets" />
			</div>
			<div class="column is-offset-1">
				<div class="card">
				  <div class="card-image">
				    <figure class="image">
				      <img :src="campaign.photos[0].url">
				    </figure>
				  </div>
				  <div class="card-content">
				    <div class="content">
				    	<h2>{{ campaign.title }}</h2>
				    	<div class="calendar">
				    		<img src="~/assets/icons/calendar.svg">
				    		<div>
				    			Sorteio dia <strong>{{ dateToFormat(campaign.draw_date) }}</strong>
				    		</div>
				    	</div>
				    	<div class="selected">
				    		<img src="~/assets/icons/tag.svg">
				    		<div>
				    			{{ tickets.length }} bilhetes selecionados:
				    		</div>
				    	</div>
				    	<div class="numbersSelected">
				    		<div v-for="number in tickets">
				    			{{ number | padding }}
				    		</div>
				    	</div>
				    	<div class="price">
				    		<img src="~/assets/icons/cart.svg">
				    		<div>
				    			<strong>Total:</strong> {{ total }}
				    		</div>
				    	</div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import CheckoutForm from '~/components/CheckoutForm.vue'
	import { mapState } from 'vuex'
	import Dinero from 'dinero.js'

	export default {
		middleware({ store, redirect }) {
			const { campaign, tickets } = store.state.checkout
			if(campaign === null || !tickets.length) {
				return redirect('/')	
			}
		},
		components: {
			CheckoutForm
		},
		filters: {
			padding(value) {
				return value.toString().padStart(3, '0')
			}
		},
		methods: {
			dateToFormat(value) {
				return this.$moment(value).format('DD [de] MMMM [de] YYYY')
			}
		},
		computed: {
			...mapState('checkout', ['campaign', 'tickets']),
	  	total() {
	  		let count = this.tickets.length
	  		return Dinero({ amount: this.campaign.raffle.price_cents }).multiply(count).toFormat()
	  	}
		}
	}
</script>

<style lang="scss" scoped>
.card {
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
	border: none;
}
.image {
	width: 100%;
	padding-top: 56.626506024%;
	overflow: hidden;
	img {
		position: absolute;
		width: auto;
		height: 100%;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
	}
}
.content {
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #333333;
	> div {
		display: flex;
		align-items: center;
	}
	.calendar {
		margin-top: 18px;
		img { width: 20px; margin-right: 8px;}
	}
	.selected {
		margin-top: 20px;
		img { width: 20px; margin-right: 8px; }
	}
	.numbersSelected {
		margin-top: 10px;
		font-size: 14px;
		line-height: 17px;
		color: #858585;
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		> div {
			background: #FAFAFA;
			border: 1px solid rgba(133, 133, 133, 0.2);
			border-radius: 4px;
			padding: 4px;
			min-width: 36px;
			text-align: center;
		}
	}
	.price {
		margin-top: 20px;
		img { width: 20px; margin-right: 8px; }
	}
}
h1 {
	margin-bottom: 42px;
	font-weight: bold;
	font-size: 32px;
	line-height: 39px;
	letter-spacing: 0.01em;
	color: #333333;
}
h2 {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #333333;
}
@media screen and (max-width: 769px) {
	.container { padding: 20px; }
	.columns {
		display: flex;
		flex-direction: column;
		.column:first-of-type {
			order: 9;
		}
	}
}
</style>