<template>
	<div>
		<div class="container">
			<div class="columns">
				<div class="column is-4 has-text-centered">
					<img src="~/assets/imgs/thanks.svg">
				</div>
				<div class="column is-8">
					<div class="title">
						<img src="~/assets/icons/check-grad.svg">
						<h1>Recebemos o seu pedido!</h1>
					</div>
					<div class="content">
						<span v-if="payment.instrument === 'credit_card'">
							<p>
								Obrigado por participar da rifa “<strong>{{ campaign.title }}</strong>” de {{ campaign.publisher.familiar_name }} <br />
								Seu pagamento está sendo processado, aguarde a confirmação por e-mail com o status de seu pedido.
							</p>
							<p>Avisaremos, também por e-mail, o resultado do sorteio quando o mesmo for realizado.</p>
						</span>
						<span v-if="payment.instrument === 'boleto'">
							<p>
								Obrigado por participar da rifa “<strong>{{ campaign.title }}</strong>” de {{ campaign.publisher.familiar_name }} <br />
								Utilize o número do código de barras abaixo ou imprima o boleto para realizar o pagamento:
							</p>
							<div class="boletoCode">
								<span>{{ payment.boleto_line_code }}</span>
								<span>
									<a @click="copyToClipboard(payment.boleto_line_code)"><img src="~/assets/icons/copy.svg"></a>
									<a :href="payment.boleto_link" target="_blank"><img src="~/assets/icons/print.svg"></a>
								</span>
							</div>
							<p>
								Todas estas informações, incluindo o boleto também serão enviadas para seu e-mail.
							</p>
						</span>
					</div>
					<div class="details">
						<div class="order">
							<h3>Pedido #{{ order.number }}</h3>
							<div>
								<img src="~/assets/icons/user-1.svg">
								<span>{{ order.user.name }}</span>
							</div>
							<div>
								<img src="~/assets/icons/email-1.svg">
								<span>{{ order.user.email }}</span>
							</div>
							<div>
								<img src="~/assets/icons/card.svg">
								<span>Forma de pagamento utilizada:</span>
							</div>
							<div class="payment" v-if="payment.instrument === 'credit_card'">
								<img class="card" :src="require(`~/assets/icons/cards/${payment.card_brand.toLowerCase()}.svg`)">
								<span class="has-text-grey">Cartão de final {{ payment.card_number }}</span>
							</div>
							<div class="payment" v-if="payment.instrument === 'boleto'">
								<img class="card" src="~/assets/icons/cards/boleto.svg">
								<span class="has-text-grey">Boleto</span>
							</div>
						</div>
						<div class="raffle">
							<h3>{{ campaign.title }}</h3>
							<div>
								<img src="~/assets/icons/calendar.svg">
								<span>Sorteio dia {{ dateToFormat(campaign.draw_date) }}</span>
							</div>
							<div>
								<img src="~/assets/icons/tag.svg">
								<span>{{ order.tickets.length }} bilhetes selecionados:</span>
							</div>
							<div class="numbersSelected">
								<div v-for="ticket in order.tickets">
									{{ ticket.number | padding }}
								</div>
							</div>
							<div>
								<img src="~/assets/icons/cart.svg">
								<span><strong>Total:</strong> {{ order.total_cents | moneyFormat }}</span>
							</div>
						</div>
					</div>
					<div class="more">
						<nuxt-link to="/" class="button">
							Ver outras rifas publicadas
						</nuxt-link>
					</div>
				</div>
			</div>
		</div>
		<div class="blob">
			<img src="~/assets/imgs/blob.svg">
		</div>
	</div>
</template>

<script>
import { mapState }	from 'vuex'
import Dinero from 'dinero.js'

export default {
	middleware({ store, redirect }) {
		if(store.state.checkout.order === null) {
			return redirect('/')
		}
	},
	filters: {
		padding(value) {
			return value.toString().padStart(3, '0')
		},
		moneyFormat(value) {
			return Dinero({ amount: value }).toFormat()
		}
	},
	methods: {
		dateToFormat(value) {
			return this.$moment(value).format('DD [de] MMMM [de] YYYY')
		},
		copyToClipboard(value) {
			navigator.clipboard.writeText(value)
				.then(() => {
					this.$buefy.toast.open({
						duration: 5000,
						message: 'Código copiado!',
						type: 'is-success'
					})
				})
				.catch(err => {
					this.$buefy.toast.open({
						duration: 5000,
						message: 'Não foi possível copiar o código.',
						type: 'is-danger'
					})
				})
		}
	},
	computed: {
		...mapState('checkout', ['order']),
		payment() {
			return this.order.payment
		},
		campaign() {
			return this.order.campaign
		}
	}
}
</script>

<style lang="scss" scoped>
.container {
	padding: 20px;
}
.blob {
	position: absolute;
	top: 100px;
	left: -100px;
	z-index: -10;
}
.more {
	margin-top: 64px;
	width: 100%;
	display: flex;
	justify-content: center;
	.button {
		padding: 20px;
		width: 50%;
		font-weight: normal;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		color: #858585;
		border: 2px solid #333333;
		border-radius: 20px;
	}
}
.details {
	margin-top: 64px;
	display: flex;
	justify-content: space-between;
	padding: 24px 42px;
	width: 100%;
	min-height: 249px;
	background: #FFFFFF;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
	h3 {
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		color: #333333;
	}
	> div {
		&.order {
			width: 50%;
			border-right: 1px dashed rgba(133, 133, 133, 0.3);
		}
		&.raffle {
			max-width: 305px;
			margin-left: 20px;
		}
		> div {
			margin-top: 20px;
			display: flex;
			align-items: center;
			img { width: 20px; margin-right: 8px; &.card { width: 24px; } }
		}
		.payment {
			margin-top: 10px;
		}
		.numbersSelected {
			margin-top: 10px;
			margin-bottom: 30px;
			font-size: 14px;
			line-height: 17px;
			color: #858585;
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			> div {
				background: #FAFAFA;
				border: 1px solid rgba(133, 133, 133, 0.2);
				border-radius: 4px;
				padding: 4px;
			}
		}
	}
}
.title {
	margin-bottom: 42px;
	display: flex;
	align-items: center;
	img { width: 52px; margin-right: 24px; }
	h1 {
		font-weight: bold;
		font-size: 32px;
		line-height: 39px;
		letter-spacing: 0.01em;
		color: #333333;
	}
}
.content p {
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 0.01em;
	color: #333333;
}

.boletoCode {
	background: linear-gradient(73.92deg, rgba(41, 85, 217, 0.05) 9.06%, rgba(109, 74, 251, 0.05) 90.08%);
	border-radius: 2px;
	padding: 12px 24px;
	display: inline-flex;
	align-items: center;
	gap: 32px;
	margin-bottom: 32px;
	span {
		font-weight: 500;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: 4px;
		font-feature-settings: 'ss01' on;
		color: #333333;
		&:last-of-type {
			display: flex;
			align-items: center;
			gap: 32px;
			img { min-width: 24px; }
		}
	}
	a {
		&:hover { filter: contrast(10); }
		@media (max-width: 769px) {
			&:hover { filter: unset; }
		}
		display: inline-block;
	}
	@media (max-width: 769px) {
		flex-direction: column;
		span { line-height: 24px; text-align: center; }
	}
}

@media screen and (max-width: 1215px) {
	.details {
		padding: 24px;
	}
}

@media screen and (max-width: 769px) {
	.blob {
		img { width: 100vw; }
	}
	.column.is-4 {
		img { width: 80px; }
	}
	.title {
		h1 {
			font-size: 24px;
			line-height: 29px;
		}
	}
	.details {
		flex-direction: column;
		margin-top: 42px;
		> div {
			&.order {
				width: unset;
				border-right: unset;
				border-bottom: 1px dashed rgba(133, 133, 133, 0.3);
				padding-bottom: 21px;
				margin-bottom: 21px;
			}
			> div {
				font-size: 14px;
				img { width: 18px; margin-right: 8px; &.card { width: 20px; } }
			}
		}
	}
	.more {
		.button {
			width: 100%;
			font-size: 16px;
		}
	}
}
</style>