<span style="font-size: 14px; color: #333333">
<h2 style="text-align: inherit; font-family: inherit">Campanha sorteada!</h2>
<div style="font-family: inherit"><strong>Campanha:</strong> <%= @campaign.title %></div>
<div style="font-family: inherit"><strong>Ticket(s) sorteado(s): <%= @campaign.winning_tickets.map(&:number).join(', ') %></strong></div>
<h3 style="text-align: inherit; font-family: inherit">Ganhador(es):</h2>
<% @campaign.winners.each do |user| %>
  <div style="font-family: inherit"><strong>Nome: <%= user.name %></strong></div>
  <div style="font-family: inherit">
    <strong>Telefone: <%= "(#{user.phone_area_code}) #{user.phone_number}" %></strong>
  </div>
  <div style="font-family: inherit"><strong>Rua: <%= user.address.street %></strong></div>
  <div style="font-family: inherit"><strong>Número: <%= user.address.number %></strong></div>
  <% unless !user.address.complement.present? %>
  <div style="font-family: inherit"><strong>Número: <%= user.address.complement %></strong></div>
  <% end %>
  <div style="font-family: inherit"><strong>Bairro: <%= user.address.district %></strong></div>
  <div style="font-family: inherit"><strong>Cidade: <%= user.address.city %></strong></div>
  <div style="font-family: inherit"><strong>Estado: <%= user.address.state %></strong></div>
  <div style="font-family: inherit"><strong>CEP: <%= user.address.zipcode %></strong></div>
  <br>
<% end %>
<div style="font-family: inherit"><br></div>
</span>
