<span style="font-size: 14px; color: #333333">
<h2 style="text-align: inherit; font-family: inherit">Campanha adiada</h2>
<div style="font-family: inherit"><strong>Campanha:</strong> <%= @campaign.title %></div>
<div style="font-family: inherit"><strong>Data do sorteio: </strong><%= @campaign.draw_date %></div>
<div style="font-family: inherit"><br></div>
</span>