<template>
	<div>
		<div class="container">
			<h1>Minha conta</h1>
        <b-tabs v-model="activeTab">
            <b-tab-item label="Dados pessoais">
              <div class="columns">
                <div class="column is-half">
                  <user-form />
                </div>
              </div>
            </b-tab-item>
            <b-tab-item label="Dados bancários">
              <div class="columns">
                <div class="column is-half">
                  <p>Cadastre seus dados bancários para receber pagamentos referentes as suas campanhas de rifas finalizadas.</p>
                  <br />
                  <user-bank-info :data="bankAccount" />
                </div>
              </div>
            </b-tab-item>
            <b-tab-item label="Segurança">
              <div class="columns">
                <div class="column is-half">
                  <change-password />
                </div>
              </div>
            </b-tab-item>
            <b-tab-item label="Participações">
              <orders-table />
            </b-tab-item>
        </b-tabs>
		</div>
	</div>
</template>

<script>
import UserForm from '~/components/UserForm.vue'
import UserBankInfo from '~/components/UserBankInfo.vue'
import ChangePassword from '~/components/ChangePassword.vue'
import OrdersTable from '~/components/OrdersTable.vue'

export default {
  middleware: 'auth',
  async asyncData({ $api, query }) {
    let response = await $api.bank_account.get()
    const bankAccount = response.data

    return {
      bankAccount
    }
  },
  data() {
    return {
        activeTab: 0
    }
  },
  components: {
    UserForm,
    UserBankInfo,
    ChangePassword,
    OrdersTable
  },
  mounted() {
    if(this.$route.query['tab'] === 'bank') {
      this.activeTab = 1
    }
  }
}
</script>

<style lang="scss" scoped>
	h1 {
		font-weight: bold;
		font-size: 32px;
		line-height: 39px;
		letter-spacing: 0.01em;
		color: #333333;
	}
  .avatar { margin-bottom: 32px; }
  @media screen and (max-width: 769px) {
    h1 {
      font-size: 24px;
      line-height: 32px;
    }
    .container {
      padding: 20px;
    }
  }
</style>