<template>
	<div class="login">
		<login :confirmation="confirmation"></login>
	</div>
</template>

<script>
	import Login from '~/components/Login.vue'
	export default {
	  layout: 'clean',
	  components: {
	  	Login
	  },
	  asyncData({ query }) {
	  	return {
	  		confirmation: query.account_confirmation_success
	  	}
	  },
	  mounted() {
	  	if(this.$route.query.expired === 'true') {
	  		this.$buefy.toast.open('Sessão expirada')
	  	}
	  }
	}
</script>

<style lang="scss" scoped>
	div.login {
		height: 100%;
		width: 100vw;
		padding-top: 52px;
		padding-bottom: 52px;
		> div {
			margin: 0 auto;
		}
	}
	@media screen and (max-width: 769px) {
		div.login {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			padding-top: 32px;
			padding-bottom: unset;
		}
	}
</style>