<template>
	<div class="login">
		<sign-up></sign-up>
	</div>
</template>

<script>
	import SignUp from '~/components/SignUp.vue'
	export default {
	  layout: 'clean',
	  components: {
	  	SignUp
	  }
	}
</script>

<style lang="scss" scoped>
	div.login {
		height: 100%;
		width: 100vw;
		padding-top: 52px;
		padding-bottom: 52px;
		> div {
			margin: 0 auto;
		}
	}
	@media screen and (max-width: 769px) {
		div.login {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			padding-top: 32px;
			padding-bottom: unset;
		}
	}
</style>