<template>
	<div class="login">
		<reset-password :token="reset_password_token" />
	</div>
</template>

<script>
	import ResetPassword from '~/components/ResetPassword.vue'
	export default {
	  layout: 'clean',
	  components: {
	  	ResetPassword
	  },
	  asyncData({ query }) {
	  	return {
	  		reset_password_token: query.reset_password_token
	  	}
	  }
	}
</script>

<style lang="scss" scoped>
	div.login {
		height: 100%;
		width: 100vw;
		padding-top: 52px;
		padding-bottom: 52px;
		> div {
			margin: 0 auto;
		}
	}
	@media screen and (max-width: 769px) {
		div.login {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			padding-top: 32px;
			padding-bottom: unset;
		}
	}
</style>