<template>
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-half">
				<nuxt-link to="/promoter" class="back"><- Voltar</nuxt-link>
				<h1>Publicar nova campanha</h1>
				<campaign-form/>
			</div>
		</div>
	</div>
</template>

<script>
import CampaignForm from '~/components/CampaignForm.vue'

export default {
	middleware: 'auth',
	components: {
		CampaignForm
	}
}
	
</script>

<style lang="scss" scoped>
h1 {
	margin-top: 42px;
	margin-bottom: 42px;
	font-weight: bold;
	font-size: 32px;
	line-height: 39px;
	letter-spacing: 0.01em;
	color: #333333;
}
@media screen and (max-width: 769px) {
	.container { padding: 20px; }
}
</style>