<template>
  <div>
    <nav>
      <div class="container">
        <nuxt-link to="/" class="logo">
          <img src="~/assets/logo-white.svg" class="is-hidden-mobile">
          <img src="~/assets/logo.svg" class="is-hidden-tablet">
        </nuxt-link>
        <a class="mobileLink" @click="menuOpen = !menuOpen">
          <img src="~/assets/icons/burger.svg" v-show="!menuOpen">
          <img src="~/assets/icons/close.svg" v-show="menuOpen">
        </a>
        <div class="links" :class="{ logged: loggedIn }">
          <nuxt-link to="/">
            Início
          </nuxt-link>
          <nuxt-link to="/campaigns">
            Rifas
          </nuxt-link>
          <nuxt-link to="/blog">
            Blog
          </nuxt-link>
          <nuxt-link to="/about">
            Sobre
          </nuxt-link>
          <nuxt-link to="/user/login" class="button login" v-show="!loggedIn">
            <span>Entrar</span>
          </nuxt-link>
          <a class="loggedUser" v-if="loggedIn" @click="loggedMenu = !loggedMenu">
            <img :src="avatarURL">
            <span>{{ $auth.user.familiar_name }}</span>
            <img src="~/assets/icons/down.svg" :class="{ inverted: loggedMenu }">
          </a>
        </div>
      </div>
    </nav>
    <div class="loggedMenu container" v-show="loggedIn" @click="loggedMenu = !loggedMenu">
      <div :class="{ active: loggedMenu }">
        <nuxt-link to="/user">
          <img src="~/assets/icons/user-1.svg"><span>Minha conta</span>
        </nuxt-link>
        <nuxt-link to="/promoter">
          <img src="~/assets/icons/heart-1.svg"><span>Campanhas</span>
        </nuxt-link>
        <nuxt-link v-if="userIsAdmin" to="/admin">
          <img src="~/assets/icons/shield-1.svg"><span>Administração do site</span>
        </nuxt-link>
        <sign-out>
            <img src="~/assets/icons/logout-1.svg"><span>Sair</span>
        </sign-out>
      </div>
    </div>
    <div class="linksMobile" :class="[menuOpen ? 'active' : '', loggedIn ? 'loggedIn': '']" @click="menuOpen = !menuOpen">
      <div>
        <nuxt-link to="/">
          Início
        </nuxt-link>
        <nuxt-link to="/campaigns">
          Rifas
        </nuxt-link>
        <nuxt-link to="/blog">
          Blog
        </nuxt-link>
        <nuxt-link to="/about">
          Sobre
        </nuxt-link>
        <nuxt-link to="/user/login" class="button login" v-show="!loggedIn">
          Entrar
        </nuxt-link>
      </div>
      <div v-show="loggedIn">
        <nuxt-link to="/user">
          <img src="~/assets/icons/user-1.svg"><span>Minha conta</span>
        </nuxt-link>
        <nuxt-link to="/promoter">
          <img src="~/assets/icons/heart-1.svg"><span>Campanhas</span>
        </nuxt-link>
        <nuxt-link to="/admin">
          <img src="~/assets/icons/shield-1.svg"><span>Administração</span>
        </nuxt-link>
        <sign-out>
            <img src="~/assets/icons/logout-1.svg"><span>Sair</span>
        </sign-out>
      </div>
    </div>
    <nuxt />
    <div class="guarantee">
      <img src="~/assets/imgs/badge.png">
      <div class="content">
        <h2>Entrega garantida</h2>
        <p>
          Todos os participantes que realizarem doações usando boleto bancário ou cartão de crédito ficam cobertos com a garantia de entrega.
        </p>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="columns">
          <div class="column is-3">
            <img src="~/assets/logo-grey.svg">
            <br />
            <p class="content is-small">
              RifaIsso.com ©
            </p>
          </div>
          <div class="column is-3">
            <strong>Organizadores</strong>
            <nuxt-link to="/promoter/campaigns/new">Publicar rifa</nuxt-link>
            <strong>Contato</strong>
            <nuxt-link to="/suporte">Fale conosco</nuxt-link>
          </div>
          <div class="column is-3">
            <strong>Mais informações</strong>
            <nuxt-link to="/prizes">Confirmar recebimento</nuxt-link>
            <nuxt-link to="#">Reembolso</nuxt-link>
            <nuxt-link to="#">Termos de uso</nuxt-link>
            <nuxt-link to="#">Política de privacidade</nuxt-link>
          </div>
          <div class="column is-3">
            <strong>Siga nossas redes sociais</strong>
            <div class="social">
              <nuxt-link to="#"><img src="~/assets/icons/fb.svg"></nuxt-link>
              <nuxt-link to="#"><img src="~/assets/icons/instagram.svg"></nuxt-link>
              <nuxt-link to="#"><img src="~/assets/icons/twitter.svg"></nuxt-link>
            </div>
            <nuxt-link to="#"><img src="~/assets/imgs/google-safe.png"></nuxt-link>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
  import SignOut from '~/components/SignOut.vue'
  export default {
    components: {
      SignOut
    },
    data() {
      return {
        menuOpen: false,
        loggedMenu: false
      }
    },
    computed: {
      loggedIn() {
        return this.$auth.loggedIn
      },
      avatarURL() {
        let url = require('~/assets/imgs/avatar.jpg')
        if(this.$auth.user.profile !== undefined) {
          url = this.$auth.user.profile.url
        }
        return url
      }
    }
  }
</script>

<style lang="scss" scoped>
.footer {
  min-height: 342px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  padding-bottom: 42px;
  .columns { width: 100%; }
  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &:last-of-type {
      align-items: flex-end;
      text-align: right;
      .social {
        width: 138px;
        display: flex;
        justify-content: space-between;
      }
    }
    strong {
      font-size: 18px;
      line-height: 22px;
      &:not(:first-of-type) { margin-top: 32px; }
    }
    a {
      margin-top: 12px;
      color: #333333;
      &:hover { color: #2955D9; }
    }
  }
}
.guarantee {
  background-image: url('~assets/imgs/footer-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 389px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-end;
  flex-wrap: wrap;
  img { width: 128px; height: 128px; }
  .content {
    h2 {
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
      letter-spacing: 0.01em;
      color: #333333;
    }
    max-width: 414px;
    margin-left: 42px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: rgba(51, 51, 51, 0.75);
  }
}
  .loggedMenu > div {
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
    transform: translateY(-200%);
    &.active { transform: translateY(-42px); }
    width: 240px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
    padding: 12px 23px;
    z-index: 10;
    > a {
      padding: 12px 0;
      width: 100%;
      color: #333333;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      &.nuxt-link-exact-active { color: #2955D9; }
      &:hover { color: #2955D9; }
      > img { width: 18px; height: 18px; margin-right: 10px; }
      &:not(:last-of-type) { border-bottom: 1px solid rgba(133, 133, 133, 0.2); }
    }
  }
  .loggedUser {
    > .inverted { transform: rotate(180deg); }
    display: flex;
    justify-content: space-between;
    align-items: center;
    > img:first-of-type { width: 30px; border-radius: 50%; }
    > img:last-of-type { filter: invert(100%) brightness(2); }
    > span { font-size: 16px; color: #fafafa; line-height: 19px; margin-left: 12px; margin-right: 6px; }
  }
  nav {
    margin-bottom: 42px;
    height: 91px;
    position: relative;
    z-index: 30;
    background-color: transparent;
  }
  nav > .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .mobileLink { display: none; }
    .links {
      width: 374px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      > a {
        color: rgba(255, 255, 255, 0.85);
        &:hover { color: #ffffff; }
        &.nuxt-link-exact-active { color: #ffffff; }
      }
      .login {
        width: 90px;
        border: none;
        font-weight: 600;
        > span {
          background: linear-gradient(58.3deg, #2955D9 9.06%, #6D4AFB 90.08%);
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
        background: #ffffff;
        border-radius: 20px;
        color: #FAFAFA;
        transition: all .1s ease-in-out;
        &:hover { color: #FAFAFA; transform: scale(1.05); }
      }
      &.logged { width: 418px; }
    }
  }
  .linksMobile { display: none; }
  .logo {
    line-height: 0;
    img { max-height: 35px; }
  }

  @media screen and (max-width: 769px) {
    .footer {
      .columns {
        display: flex;
        flex-direction: column;
        min-height: 662px;
      }
      .column {
        font-size: 14px;
        &:not(:nth-of-type(2)) { margin-top: 20px; }
        &:first-of-type { order: 9999; }
        &:last-of-type {
          align-items: unset;
          text-align: unset;
          .social { margin-bottom: 20px; }
        }
      }
    }
    .guarantee {
      padding: 20px;
      img { width: 100px; height: 100px; transform: translateY(-20px); }
      .content {
        margin-left: unset;
        font-size: 14px;
        text-align: center;
        h2 {
          font-size: 24px;
          text-align: center;
        }
      }
    }

    .logo {
      img { max-height: 30px; }
    }
    nav {
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 5px 14px rgba(0, 0, 0, 0.04);
      background: #ffffff;
    }
    nav > .container {
      padding: 20px;
      .mobileLink {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        border: 1px solid #E1E1E1;
        border-radius: 4px;
        > img { width: 24px; height: 24px; }
      }
      .links { display: none; }
    }
    .linksMobile {
      background-color: #ffffff;
      position: absolute;
      z-index: 20;
      padding: 20px;
      width: 100vw;
      height: 30vh;
      display: flex;
      justify-content: space-between;
      > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &.loggedIn {
        justify-content: space-around;
        > div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          > a {
            display: flex;
            align-items: center;
            > img { width: 18px; height: 18px; margin-right: 10px; }
          }
          &:first-of-type { max-height: 202px; }
          &:last-of-type { border-left: 1px solid rgba(133, 133, 133, 0.2); padding-left: 10vw; }      
        }
      }
      top: 0;
      left: 0;
      right: 0;
      transform: translateY(-150%);
      transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
      border-bottom: 1px solid #E1E1E1;
      a {
        color: #333333;
        &.nuxt-link-exact-active { color: #2955D9; }
      }
      .login {
        width: 90px;
        border: none;
        background: linear-gradient(58.3deg, #2955D9 9.06%, #6D4AFB 90.08%);
        border-radius: 20px;
        color: #FAFAFA;
        transition: all .1s ease-in-out;
        &:hover { color: #FAFAFA; transform: scale(1.05); }
      }
      &.active {
        transform: translateY(91px);
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 0.04), 0px 8px 14px rgba(0, 0, 0, 0.04);
      }
    }
  }
</style>