<template>
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-half">
				<nuxt-link to="/promoter" class="back"><- Voltar</nuxt-link>
				<h1>Editar campanha</h1>
				<campaign-form :campaign-data="campaign"/>
			</div>
		</div>
	</div>
</template>

<script>
import CampaignForm from '~/components/CampaignForm.vue'
import Campaign from '~/model/campaign'

export default {
	middleware: 'auth',
	components: {
		CampaignForm
	},
	async asyncData({ params, redirect }) {
		const id = params.id
		const campaignData = await (new Campaign()).fetch(id)
		if(!campaignData.updatable) {
			redirect('/promoter')
		}

		return {
			campaign: campaignData
		}
	}
}

</script>

<style lang="scss" scoped>
h1 {
	margin-top: 42px;
	margin-bottom: 42px;
	font-weight: bold;
	font-size: 32px;
	line-height: 39px;
	letter-spacing: 0.01em;
	color: #333333;
}
@media screen and (max-width: 769px) {
	.container { padding: 20px; }
}
</style>
