<template>
	<div class="container">
		<a @click="$router.go(-1)" class="back"><- Voltar</a>
		<OrderDetails :order="order" />
	</div>
</template>

<script>
import OrderDetails from '~/components/OrderDetails.vue'
export default {
	components: { OrderDetails },
  async asyncData({ $api, params }) {
    const response = await $api.orders.get(params.id)
    const order = response.data

    return  {
      order
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
